dev/adsspendupdater.json
{
  "createdAt": "2025-07-11T12:56:46.703Z",
  "updatedAt": "2025-07-16T06:29:06.840Z",
  "id": "7EpCGlWpDaLrCeg6",
  "name": "AdsSpendUpdater",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 2
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "22f71390-190c-4ff8-af9c-a7049721614e",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "lIBo5maVVG6wjO0F",
          "mode": "list",
          "cachedResultName": "Get customer sheet data"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "getAllCustomersData": true
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "customer_id",
              "displayName": "customer_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "getAllCustomersData",
              "displayName": "getAllCustomersData",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        220,
        0
      ],
      "id": "96f44d6f-ec03-481a-a6ee-8303b3eb7b71",
      "name": "Execute Workflow"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        480,
        0
      ],
      "id": "acad99fb-6d0e-4190-b2a4-e0a0d5492a71",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "fieldToSplitOut": "Periods",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        740,
        0
      ],
      "id": "fa531d36-8fcf-4ade-a488-26a93aada9cc",
      "name": "Get periods"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b3486185-0839-4856-aedb-258b5a5d0abc",
              "leftValue": "={{ $json.Billing_Period }}",
              "rightValue": "={{ DateTime.now().plus({ months: 1 }).toFormat('MMMM yyyy') }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        960,
        0
      ],
      "id": "cc821c14-607b-4321-9d21-1772975e5ce8",
      "name": "Find next month",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "871d51e8-3d68-4b68-a98f-c873f5184226",
              "leftValue": "={{ $json.Stripe_Price_ID }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "e1e9f14c-c1d9-4406-ab2e-949a6f002091",
              "leftValue": "={{ $('Loop Over Items').item.json.Stripe_Subscription_ID }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1620,
        0
      ],
      "id": "a3a23b5d-1795-4cf8-be21-6768a60f919d",
      "name": "If empty price id"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "979d7fcd-728f-4f1a-902e-93e37a976eb3",
              "leftValue": "={{ $input.first().json.isEmpty() }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1180,
        0
      ],
      "id": "41f60c25-5385-4c6e-b403-652ea46ce835",
      "name": "Has month"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1400,
        0
      ],
      "id": "a15e3a0e-87d1-4c73-9a6b-6048af99b73a",
      "name": "Limit"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Get periods",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get periods": {
      "main": [
        [
          {
            "node": "Find next month",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find next month": {
      "main": [
        [
          {
            "node": "Has month",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If empty price id": {
      "main": [
        [],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has month": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "If empty price id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "5fbbfec4-282e-4c5e-a5fd-c8ad1c115ffa",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-08-28T14:29:07.394Z",
      "updatedAt": "2025-08-28T14:29:07.394Z",
      "role": "workflow:owner",
      "workflowId": "7EpCGlWpDaLrCeg6",
      "projectId": "flRKzvtMN6hhu506"
    }
  ],
  "tags": []
}