dev/ai-git-repo-q&a-agent.json
{
  "createdAt": "2025-08-21T10:01:13.534Z",
  "updatedAt": "2025-08-23T14:35:24.235Z",
  "id": "208uVxiTantxT4K6",
  "name": "AI Git Repo Q&A Agent",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {},
      "id": "e1f5e3a1-8c2d-4b3e-9f0a-1b2c3d4e5f6a",
      "name": "ManualTrigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        250,
        300
      ],
      "notesInFlow": true,
      "notes": "Accepts repository URL and user question as inputs to start the workflow."
    },
    {
      "parameters": {
        "operation": "clone",
        "repositoryUrl": "={{ $json.repositoryUrl }}",
        "destinationPath": "=/tmp/repo_{{ Date.now() }}"
      },
      "id": "f2e4d3c2-9d3e-5c4f-a01b-2c3d4e5f6a7b",
      "name": "CloneRepository",
      "type": "@n8n/n8n-nodes-git.git",
      "typeVersion": 1,
      "position": [
        450,
        300
      ],
      "notesInFlow": true,
      "notes": "Clones the specified Git repository to a local directory."
    },
    {
      "parameters": {
        "fileSelector": "={{ $node['CloneRepository'].json.directory }}/**/*"
      },
      "id": "a3f5e4d3-0e4f-6d5f-b12c-3d4e5f6a7b8c",
      "name": "ReadRepositoryFiles",
      "type": "n8n-nodes-base.readBinaryFiles",
      "typeVersion": 1,
      "position": [
        650,
        300
      ],
      "notesInFlow": true,
      "notes": "Reads all files from the cloned repository directory as binary data."
    },
    {
      "parameters": {
        "chunkSize": 1000,
        "chunkOverlap": 200,
        "options": {}
      },
      "id": "b4a6f5e4-1f50-7e6f-c23d-4e5f6a7b8c9d",
      "name": "SplitDocuments",
      "type": "@n8n/n8n-nodes-langchain.documentSplitter",
      "typeVersion": 1,
      "position": [
        850,
        300
      ],
      "notesInFlow": true,
      "notes": "Splits the file contents into smaller chunks suitable for embedding and processing."
    },
    {
      "parameters": {
        "model": "text-embedding-ada-002",
        "options": {}
      },
      "id": "c5b7a6f5-2a61-8f70-d34e-5f6a7b8c9d0e",
      "name": "CreateEmbeddings",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [
        1050,
        300
      ],
      "notesInFlow": true,
      "notes": "Generates vector embeddings from the document chunks using OpenAI's embedding model."
    },
    {
      "parameters": {
        "mode": "insert"
      },
      "id": "d6c8b7a6-3b72-9a81-e45f-6a7b8c9d0e1f",
      "name": "VectorStore",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreFaiss",
      "typeVersion": 1,
      "position": [
        1250,
        300
      ],
      "notesInFlow": true,
      "notes": "Creates an in-memory FAISS vector store from the embeddings for similarity search."
    },
    {
      "parameters": {
        "name": "Vector Store Search",
        "description": "Search the repository content"
      },
      "id": "e7d9c8b7-4c83-0b92-f56a-7b8c9d0e1f2a",
      "name": "VectorStoreTool",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        1450,
        400
      ],
      "notesInFlow": true,
      "notes": "Provides vector store search capability as a tool for the AI Agent."
    },
    {
      "parameters": {
        "model": "gpt-4",
        "options": {
          "temperature": 0.7
        }
      },
      "id": "f8e0d9c8-5d94-1ca3-a67b-8c9d0e1f2a3b",
      "name": "OpenAIModel",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        1250,
        500
      ],
      "notesInFlow": true,
      "notes": "Provides the OpenAI language model for the AI Agent."
    },
    {
      "parameters": {
        "prompt": "={{ $json.question }}",
        "systemMessage": "You are an AI assistant that answers questions about code repositories. Use the vector store tool to search for relevant information in the repository to answer user questions accurately."
      },
      "id": "a9f1e0d9-6ea5-2db4-b78c-9d0e1f2a3b4c",
      "name": "AIAgent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1,
      "position": [
        1650,
        300
      ],
      "notesInFlow": true,
      "notes": "Processes the user question using OpenAI model with vector store access to provide answers based on repository content."
    }
  ],
  "connections": {
    "ManualTrigger": {
      "main": [
        [
          {
            "node": "CloneRepository",
            "type": "main",
            "index": 0
          },
          {
            "node": "AIAgent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CloneRepository": {
      "main": [
        [
          {
            "node": "ReadRepositoryFiles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ReadRepositoryFiles": {
      "main": [
        [
          {
            "node": "SplitDocuments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SplitDocuments": {
      "main": [
        [
          {
            "node": "CreateEmbeddings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CreateEmbeddings": {
      "main": [
        [
          {
            "node": "VectorStore",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VectorStore": {
      "main": [
        [
          {
            "node": "VectorStoreTool",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAIModel": {
      "ai_languageModel": [
        [
          {
            "node": "AIAgent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "VectorStoreTool": {
      "ai_tool": [
        [
          {
            "node": "AIAgent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true,
    "saveDataErrorExecution": "all",
    "errorWorkflow": "",
    "timezone": "America/New_York"
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "79d28e50-4711-40b7-ac0b-d4f6e43736b2",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-08-28T14:28:21.293Z",
      "updatedAt": "2025-08-28T14:28:21.293Z",
      "role": "workflow:owner",
      "workflowId": "208uVxiTantxT4K6",
      "projectId": "flRKzvtMN6hhu506"
    }
  ],
  "tags": []
}