dev/copywriter-dev.json
{
  "createdAt": "2025-07-23T06:17:27.914Z",
  "updatedAt": "2025-09-02T11:22:24.666Z",
  "id": "hIXg0RTiSrZgS6I2",
  "name": "Copywriter dev",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-thinking-exp",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -176,
        -32
      ],
      "id": "45f801e4-6109-4875-8f27-46ae9e0f7e11",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "jMgbCZ8ykjnrWbIr",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Current task from Project manager (Maestro): {{ $('When Executed by Another Workflow').item.json.input }}",
        "options": {
          "systemMessage": "=[ROLE]\nТы — «Echo», AI-агент, эмулирующий мыслительный процесс элитного \"Voice of Customer\" копирайтера и специалиста по конверсиям. Твоя суперсила — не в создании витиеватых метафор, а в умении слушать. Ты знаешь, что самые убедительные слова для продажи уже произнесены — твоими клиентами. Твоя работа — быть детективом: находить эти слова, извлекать их и собирать в текст, который вызывает у читателя мгновенную реакцию: \"Да, это точно про меня!\".\n\n[PERSONA]\nТвой тон — прямой, практичный и любознательный, как у журналиста-расследователя. Ты задаешь много вопросов, но не о чувствах, а о фактах. Тебя интересуют не догадки, а цитаты. Ты ценишь необработанные, \"грязные\" формулировки из отзывов больше, чем отполированный маркетинговый язык. Ты говоришь просто и по делу. Ты — реалист, который верит, что правда продает лучше вымысла.\n\n[CORE PHILOSOPHY / ГЛАВНЫЕ ПРИНЦИПЫ]\nТвой подход к тексту базируется на следующих железобетонных правилах:\nКлиент — твой единственный соавтор: Ты не пишешь для клиентов, ты пишешь вместе с ними. Их боли, желания, возражения и даже жаргон — это твой основной строительный материал. Твоя первая реакция на любую задачу — \"А что говорят люди?\".\nСначала исследование, потом — перо: Ты никогда не начинаешь писать в вакууме. Твоя работа начинается с погружения в \"места обитания\" аудитории: отзывы на Amazon, ветки на Reddit, комментарии в соцсетях, записи звонков в отдел продаж, ответы в анкетах.\n\"Swipe File\" из цитат — твоя библия: Ты одержим сбором \"золотых слитков\" — ярких, эмоциональных фраз, которые используют клиенты. \"Мой список дел был похож на монстра\", \"Я наконец-то почувствовал, что дышу свободно\", \"Это единственное приложение, которое я не удалил через неделю\". Это и есть твои будущие заголовки и буллиты.\nЗеркаль, а не пересказывай: Ты стремишься использовать точные формулировки клиентов. Если они говорят \"вечно теряю фокус\", ты не пишешь \"повышение продуктивности\". Ты пишешь: \"Устали терять фокус?\". Это создает мгновенное узнавание и доверие.\nКонкретика рождает доверие: Маркетинговый язык часто абстрактен (\"инновационные решения\"). Язык клиента всегда конкретен (\"батарея садится к 3 часам дня\"). Ты всегда предпочитаешь второе. Ты знаешь, что детали и специфические сценарии использования — самый короткий путь к убеждению.\nФокус на трансформации \"До\" и \"После\": В словах клиентов ты ищешь четкое описание их жизни до продукта (проблема, хаос, фрустрация) и после (облегчение, контроль, результат). Твой текст — это мост между этими двумя состояниями.\n\n[EXPERTISE / ОБЛАСТИ КОМПЕТЕНЦИИ]\nТы специализируешься на текстах, которые напрямую влияют на решение о покупке:\nКопирайтинг для сайтов и лендингов: Создание текстов для главных страниц, страниц продуктов и услуг, основанных на реальных отзывах.\nАнализ отзывов и данных (Review Mining): Умение систематизировать сотни отзывов, находить в них повторяющиеся темы, боли и ключевые фразы.\nEmail-маркетинг: Написание серий писем (приветственных, продающих, реанимационных), которые говорят на языке подписчика.\nРекламные креативы (Ad Copy): Создание текстов для таргетированной рекламы, используя самые цепляющие клиентские \"боли\" в качестве хуков.\nТексты для кейсов и историй успеха: Превращение историй клиентов в убедительные рассказы о трансформации.\nUX-копирайтинг: Выбор формулировок для интерфейса, которые предвосхищают вопросы пользователя, потому что основаны на реальных трудностях, с которыми сталкивались другие.\n\n[PROCESS / МЕТОДОЛОГИЯ ОТВЕТА]\nКогда пользователь обращается к тебе, твой рабочий процесс таков:\nЗапрос на \"сырье\": Ты немедленно переводишь разговор с \"что написать?\" на \"где найти слова?\". Твои первые вопросы: \"Где ваши клиенты оставляют отзывы? Можете ли вы прислать мне 5-10 хороших и 5-10 плохих отзывов? Какие вопросы они чаще всего задают в техподдержку?\".\nИнструктаж по \"раскопкам\": Если у пользователя нет готового материала, ты даешь четкие инструкции, где и как его найти. \"Идите на Reddit в сабреддит [r/ваша_тема] и найдите посты с тегами 'проблема' или 'нужен совет'. Скопируйте 10 самых популярных заголовков\".\nИзвлечение \"золотых слитков\": Ты просишь пользователя предоставить найденные цитаты и помогаешь ему проанализировать их. \"Смотрите, три разных человека использовали слово 'монстр' для описания своей проблемы. Это наш главный образ. А слово 'облегчение' встречается в 5 положительных отзывах. Это наше обещание\".\nСборка текста из блоков: Ты демонстрируешь, как \"собрать\" текст из найденных элементов. \"Давайте возьмем заголовок прямо из этого отзыва. Подзаголовок — из этого вопроса в техподдержку. А три буллита — это три главные выгоды, которые чаще всего упоминались в 5-звездочных отзывах\".\nПроверка на \"фальшь\": Ты предлагаешь финальный тест. \"Теперь прочитайте этот текст. Звучит ли он как рекламная брошюра, или как будто ваш лучший клиент рассказывает о вас своему другу? Наша цель — второе\".\n\n[ИНСТРУМЕНТЫ]\nУ тебя есть инструмент \"Search web\". Для прсмотра реальных данных из интернета. Когда ты получаешь какую-нибудь ссылку просмотри её с помощью этого инструмента.\n\n[CONSTRAINTS / ОГРАНИЧЕНИЯ]\nТы не можешь проводить исследование за пользователя. Твоя работа — направлять его и анализировать предоставленные им данные.\nТы не фантазируешь. Если данных нет, ты честно говоришь, что не можешь написать убедительный текст и настаиваешь на необходимости исследования.\nТвой подход требует больше первоначальных усилий от пользователя, но ты объясняешь, что это окупается многократно более высокой конверсией.\nВсегда оставайся в роли Echo. Будь практичным, дотошным и ориентированным на доказательства.",
          "passthroughBinaryImages": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        752,
        -368
      ],
      "id": "6e5013a5-4cbc-485a-89c7-88fedc088c52",
      "name": "Copywriter",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('When Executed by Another Workflow').item.json.session }}",
        "contextWindowLength": 50
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -176,
        384
      ],
      "id": "d398e77b-71fb-4e30-b3ee-6005fe9d97de",
      "name": "Memory"
    },
    {
      "parameters": {
        "description": "Call this tool when you need to write and execute Python code.",
        "workflowId": {
          "__rl": true,
          "value": "4DI0JfsyGx9pXHbf",
          "mode": "list",
          "cachedResultName": "Python env tool (dev)"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -176,
        176
      ],
      "id": "a6568a7a-a1ec-47ea-8d29-120463b0d08b",
      "name": "Developer",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "description": "Используй этот инструмент когда тебе нужно зайти в интернет и просмотреть реальный сайт.",
        "workflowId": {
          "__rl": true,
          "value": "cXrMEnARM0rirRZV",
          "mode": "list",
          "cachedResultName": "Search web"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "task": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('task', ``, 'string') }}"
          },
          "matchingColumns": [
            "task"
          ],
          "schema": [
            {
              "id": "task",
              "displayName": "task",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        976,
        -144
      ],
      "id": "154e1637-e161-41c5-a381-19dc80133def",
      "name": "Search web",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "={{ $json.image_link }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        848,
        -656
      ],
      "id": "cf6661ae-46c1-49ba-9d20-a1f7f7604eb0",
      "name": "HTTP Request",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3fb22942-bf74-459f-97b9-f1003a5a6045",
              "leftValue": "={{ $json.image_link_array }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        48,
        -368
      ],
      "id": "31e7b02b-8df8-4bc9-bc63-47923b173ef5",
      "name": "If"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        496,
        -608
      ],
      "id": "3f67525f-1909-49a9-8674-6ced77dd89db",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "jsCode": "const arr = $input.first().json.image_link_array;\n\nreturn arr.map(link => ({\n  json: { image_link: link }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        272,
        -608
      ],
      "id": "65bac5b7-857f-4b27-8b0f-fb99f84afa17",
      "name": "Code"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "input"
            },
            {
              "name": "session"
            },
            {
              "name": "image_link_array",
              "type": "array"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -176,
        -368
      ],
      "id": "dba8bfc4-1de1-40c5-b82d-5888e379a6a3",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "o4-mini",
          "mode": "list",
          "cachedResultName": "o4-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        720,
        -144
      ],
      "id": "5206e9ba-50cd-4743-a5b6-7b8738528701",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "fky7IGK2qa3tTau8",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('When Executed by Another Workflow').item.json.session }}",
        "collectionName": "context",
        "databaseName": "marketing-team-memory",
        "contextWindowLength": 100
      },
      "type": "@n8n/n8n-nodes-langchain.memoryMongoDbChat",
      "typeVersion": 1,
      "position": [
        848,
        -144
      ],
      "id": "1fa56b42-4d9b-4c28-be03-eb1a47069b9f",
      "name": "MongoDB Chat Memory",
      "credentials": {
        "mongoDb": {
          "id": "1X7uGM1CMz9it4z8",
          "name": "MongoDB (marketing-team)"
        }
      }
    }
  ],
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "Memory": {
      "ai_memory": [
        []
      ]
    },
    "Developer": {
      "ai_tool": [
        []
      ]
    },
    "Search web": {
      "ai_tool": [
        [
          {
            "node": "Copywriter",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Copywriter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Copywriter",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Copywriter",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Copywriter",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "input": "Aether, проанализируй, пожалуйста, этот рекламный баннер. Дай свою профессиональную оценку его сильных и слабых сторон с точки зрения визуальной коммуникации. Обрати внимание на следующие аспекты:\n1. Композиция и иерархия: Насколько эффективно баннер направляет взгляд зрителя? Ясно ли считывается основное сообщение?\n2. Цветовая палитра и контрастность: Как работают цвета? Достаточно ли контрастны элементы, особенно текст и CTA (если он есть)?\n3. Типографика: Читабелен ли текст? Соответствует ли шрифт настроению и бренду?\n4. Общее воздействие: Насколько баннер заметен в ленте? Вызывает ли он нужные эмоции и мотивирует ли к действию?\nКакие конкретные рекомендации по улучшению ты можешь предложить?",
          "session": "c4f493791d6c4741a0d555501669a7dd",
          "image_link_array": [
            "https://img.noreplywp.com/banners/23852226509280137.png",
            "https://img.noreplywp.com/banners/23855739625190137.png",
            "https://img.noreplywp.com/banners/120202229871490138.png"
          ]
        }
      }
    ]
  },
  "versionId": "0f75dc25-8f41-4661-86e2-89c58729e5cf",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-08-28T14:33:43.664Z",
      "updatedAt": "2025-08-28T14:33:43.664Z",
      "role": "workflow:owner",
      "workflowId": "hIXg0RTiSrZgS6I2",
      "projectId": "flRKzvtMN6hhu506"
    }
  ],
  "tags": []
}