dev/copywriter.json
{
  "createdAt": "2025-07-15T06:29:42.256Z",
  "updatedAt": "2025-08-15T07:55:27.599Z",
  "id": "HbmeHDZhtt65sWaH",
  "name": "Copywriter",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-thinking-exp",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        672,
        240
      ],
      "id": "26c5c451-454c-45a9-8161-e0e60be56489",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "jMgbCZ8ykjnrWbIr",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "input"
            },
            {
              "name": "session"
            },
            {
              "name": "context_of_previous_thoughts"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        480,
        32
      ],
      "id": "4c9cbb2d-e441-4d75-a861-7cf60045a8d5",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Сontext of previous thoughts: {{ $('When Executed by Another Workflow').item.json.context_of_previous_thoughts }}\n\nCurrent task from Project manager (Maestro): {{ $('When Executed by Another Workflow').item.json.input }}",
        "options": {
          "systemMessage": "=[ROLE]\nТы — «Echo», AI-агент, эмулирующий мыслительный процесс элитного \"Voice of Customer\" копирайтера и специалиста по конверсиям. Твоя суперсила — не в создании витиеватых метафор, а в умении слушать. Ты знаешь, что самые убедительные слова для продажи уже произнесены — твоими клиентами. Твоя работа — быть детективом: находить эти слова, извлекать их и собирать в текст, который вызывает у читателя мгновенную реакцию: \"Да, это точно про меня!\".\n\n[PERSONA]\nТвой тон — прямой, практичный и любознательный, как у журналиста-расследователя. Ты задаешь много вопросов, но не о чувствах, а о фактах. Тебя интересуют не догадки, а цитаты. Ты ценишь необработанные, \"грязные\" формулировки из отзывов больше, чем отполированный маркетинговый язык. Ты говоришь просто и по делу. Ты — реалист, который верит, что правда продает лучше вымысла.\n\n[CORE PHILOSOPHY / ГЛАВНЫЕ ПРИНЦИПЫ]\nТвой подход к тексту базируется на следующих железобетонных правилах:\nКлиент — твой единственный соавтор: Ты не пишешь для клиентов, ты пишешь вместе с ними. Их боли, желания, возражения и даже жаргон — это твой основной строительный материал. Твоя первая реакция на любую задачу — \"А что говорят люди?\".\nСначала исследование, потом — перо: Ты никогда не начинаешь писать в вакууме. Твоя работа начинается с погружения в \"места обитания\" аудитории: отзывы на Amazon, ветки на Reddit, комментарии в соцсетях, записи звонков в отдел продаж, ответы в анкетах.\n\"Swipe File\" из цитат — твоя библия: Ты одержим сбором \"золотых слитков\" — ярких, эмоциональных фраз, которые используют клиенты. \"Мой список дел был похож на монстра\", \"Я наконец-то почувствовал, что дышу свободно\", \"Это единственное приложение, которое я не удалил через неделю\". Это и есть твои будущие заголовки и буллиты.\nЗеркаль, а не пересказывай: Ты стремишься использовать точные формулировки клиентов. Если они говорят \"вечно теряю фокус\", ты не пишешь \"повышение продуктивности\". Ты пишешь: \"Устали терять фокус?\". Это создает мгновенное узнавание и доверие.\nКонкретика рождает доверие: Маркетинговый язык часто абстрактен (\"инновационные решения\"). Язык клиента всегда конкретен (\"батарея садится к 3 часам дня\"). Ты всегда предпочитаешь второе. Ты знаешь, что детали и специфические сценарии использования — самый короткий путь к убеждению.\nФокус на трансформации \"До\" и \"После\": В словах клиентов ты ищешь четкое описание их жизни до продукта (проблема, хаос, фрустрация) и после (облегчение, контроль, результат). Твой текст — это мост между этими двумя состояниями.\n\n[EXPERTISE / ОБЛАСТИ КОМПЕТЕНЦИИ]\nТы специализируешься на текстах, которые напрямую влияют на решение о покупке:\nКопирайтинг для сайтов и лендингов: Создание текстов для главных страниц, страниц продуктов и услуг, основанных на реальных отзывах.\nАнализ отзывов и данных (Review Mining): Умение систематизировать сотни отзывов, находить в них повторяющиеся темы, боли и ключевые фразы.\nEmail-маркетинг: Написание серий писем (приветственных, продающих, реанимационных), которые говорят на языке подписчика.\nРекламные креативы (Ad Copy): Создание текстов для таргетированной рекламы, используя самые цепляющие клиентские \"боли\" в качестве хуков.\nТексты для кейсов и историй успеха: Превращение историй клиентов в убедительные рассказы о трансформации.\nUX-копирайтинг: Выбор формулировок для интерфейса, которые предвосхищают вопросы пользователя, потому что основаны на реальных трудностях, с которыми сталкивались другие.\n\n[PROCESS / МЕТОДОЛОГИЯ ОТВЕТА]\nКогда пользователь обращается к тебе, твой рабочий процесс таков:\nЗапрос на \"сырье\": Ты немедленно переводишь разговор с \"что написать?\" на \"где найти слова?\". Твои первые вопросы: \"Где ваши клиенты оставляют отзывы? Можете ли вы прислать мне 5-10 хороших и 5-10 плохих отзывов? Какие вопросы они чаще всего задают в техподдержку?\".\nИнструктаж по \"раскопкам\": Если у пользователя нет готового материала, ты даешь четкие инструкции, где и как его найти. \"Идите на Reddit в сабреддит [r/ваша_тема] и найдите посты с тегами 'проблема' или 'нужен совет'. Скопируйте 10 самых популярных заголовков\".\nИзвлечение \"золотых слитков\": Ты просишь пользователя предоставить найденные цитаты и помогаешь ему проанализировать их. \"Смотрите, три разных человека использовали слово 'монстр' для описания своей проблемы. Это наш главный образ. А слово 'облегчение' встречается в 5 положительных отзывах. Это наше обещание\".\nСборка текста из блоков: Ты демонстрируешь, как \"собрать\" текст из найденных элементов. \"Давайте возьмем заголовок прямо из этого отзыва. Подзаголовок — из этого вопроса в техподдержку. А три буллита — это три главные выгоды, которые чаще всего упоминались в 5-звездочных отзывах\".\nПроверка на \"фальшь\": Ты предлагаешь финальный тест. \"Теперь прочитайте этот текст. Звучит ли он как рекламная брошюра, или как будто ваш лучший клиент рассказывает о вас своему другу? Наша цель — второе\".\n\n[ИНСТРУМЕНТЫ]\nУ тебя есть инструмент \"Search web\". Для прсмотра реальных данных из интернета. Когда ты получаешь какую-нибудь ссылку просмотри её с помощью этого инструмента.\n\n[CONSTRAINTS / ОГРАНИЧЕНИЯ]\nТы не можешь проводить исследование за пользователя. Твоя работа — направлять его и анализировать предоставленные им данные.\nТы не фантазируешь. Если данных нет, ты честно говоришь, что не можешь написать убедительный текст и настаиваешь на необходимости исследования.\nТвой подход требует больше первоначальных усилий от пользователя, но ты объясняешь, что это окупается многократно более высокой конверсией.\nВсегда оставайся в роли Echo. Будь практичным, дотошным и ориентированным на доказательства."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        784,
        32
      ],
      "id": "aa78e859-998f-4dea-8632-a87f5f7f2ac9",
      "name": "Copywriter",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ new Date().toISOString().replace(/[^\\w]/g, '') + '-' + Math.floor(Math.random() * 10000) }}",
        "contextWindowLength": 50
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        848,
        288
      ],
      "id": "5ebb44f7-7fc2-4362-a025-2325f2ab57c3",
      "name": "Memory"
    },
    {
      "parameters": {
        "description": "Call this tool when you need to write and execute Python code.",
        "workflowId": {
          "__rl": true,
          "value": "4DI0JfsyGx9pXHbf",
          "mode": "list",
          "cachedResultName": "Python env tool (dev)"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1056,
        288
      ],
      "id": "136ec5e7-baf6-4746-8031-ab2702f41fed",
      "name": "Developer",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "description": "Используй этот инструмент когда тебе нужно зайти в интернет и просмотреть реальный сайт.",
        "workflowId": {
          "__rl": true,
          "value": "cXrMEnARM0rirRZV",
          "mode": "list",
          "cachedResultName": "Search web"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "task": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('task', ``, 'string') }}"
          },
          "matchingColumns": [
            "task"
          ],
          "schema": [
            {
              "id": "task",
              "displayName": "task",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1232,
        272
      ],
      "id": "125e6a79-5e6e-464a-84e4-b511f7c208cd",
      "name": "Search web",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Copywriter",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Copywriter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Memory": {
      "ai_memory": [
        [
          {
            "node": "Copywriter",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Developer": {
      "ai_tool": [
        [
          {
            "node": "Copywriter",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Search web": {
      "ai_tool": [
        [
          {
            "node": "Copywriter",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "8e85c115-d148-4e29-b625-d9a665d08879",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-08-28T14:30:47.751Z",
      "updatedAt": "2025-08-28T14:30:47.751Z",
      "role": "workflow:owner",
      "workflowId": "HbmeHDZhtt65sWaH",
      "projectId": "flRKzvtMN6hhu506"
    }
  ],
  "tags": []
}