dev/daily-nyc-weather-logger.json
{
  "createdAt": "2025-08-14T14:36:42.064Z",
  "updatedAt": "2025-08-14T14:45:24.893Z",
  "id": "xsGp3yDCUAUO74UH",
  "name": "Daily NYC Weather Logger",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "value": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "1b2c3d4e-1111-2222-3333-444455556666",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://api.openweathermap.org/data/2.5/weather",
        "qs": {
          "q": "New York",
          "appid": "YOUR_API_KEY",
          "units": "metric"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        0
      ],
      "id": "7f8g9h0i-7777-8888-9999-aaaabbbbcccc",
      "name": "Get NYC Weather"
    },
    {
      "parameters": {
        "operation": "createTable",
        "schema": "public",
        "table": "nyc_weather",
        "columns": [
          {
            "name": "temp",
            "type": "float"
          },
          {
            "name": "description",
            "type": "string"
          },
          {
            "name": "timestamp",
            "type": "datetime"
          }
        ]
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.1,
      "position": [
        440,
        0
      ],
      "id": "bbbbcccc-dddd-eeee-ffff-111122223333",
      "name": "Create Weather Table"
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": "public",
        "table": "nyc_weather",
        "columns": [
          {
            "name": "temp",
            "value": "={{ $json[\"main\"][\"temp\"] }}"
          },
          {
            "name": "description",
            "value": "={{ $json[\"weather\"][0][\"description\"] }}"
          },
          {
            "name": "timestamp",
            "value": "={{ $now }}"
          }
        ]
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.1,
      "position": [
        660,
        0
      ],
      "id": "44445555-6666-7777-8888-9999aaaabbbb",
      "name": "Insert Weather Data"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get NYC Weather",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get NYC Weather": {
      "main": [
        [
          {
            "node": "Create Weather Table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Weather Table": {
      "main": [
        [
          {
            "node": "Insert Weather Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Weather Data": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "1f94c56c-6eb1-4979-a427-a645c3f4e11d",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-08-28T14:36:00.501Z",
      "updatedAt": "2025-08-28T14:36:00.501Z",
      "role": "workflow:owner",
      "workflowId": "xsGp3yDCUAUO74UH",
      "projectId": "flRKzvtMN6hhu506"
    }
  ],
  "tags": []
}