dev/generate-semantic-profile-for-target-site.json
{
  "createdAt": "2025-06-20T09:42:07.917Z",
  "updatedAt": "2025-09-02T11:21:35.522Z",
  "id": "QzMCkptc0yY2FKb3",
  "name": "Generate semantic profile for target site",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "operation": "insert",
        "collection": "context",
        "fields": "=context",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.1,
      "position": [
        1424,
        -96
      ],
      "id": "91ec5b8b-e68a-4e17-b444-4b02b01c78b5",
      "name": "MongoDB",
      "credentials": {
        "mongoDb": {
          "id": "Izj04vyOAJ9tg38z",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nconst target_site_semantic_profile = $input.first().json.candidates[0].content.parts[0].text;\n\nreturn [\n  {\n    context: {\n      session: $('When Executed by Another Workflow').first().json.session,\n      date: new Date(),\n      target_site_semantic_profile: target_site_semantic_profile\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        -96
      ],
      "id": "c9037c20-c4e3-4012-9531-d4284c14b47c",
      "name": "Formating"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      message: \"Successfully completed\"\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1872,
        -96
      ],
      "id": "ceedc3b6-5651-447e-a31a-31f3a40b9122",
      "name": "Result message"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash-preview-05-20:generateContent",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googlePalmApi",
        "sendBody": true,
        "contentType": "raw",
        "body": "={   \"contents\": [     {       \"role\": \"user\",       \"parts\": [         {           \"text\": \"You are an elite, highly experienced marketing strategist specializing in advanced semantic SEO and content intelligence. Your objective is to generate a comprehensive 'Semantic Profile' for a given website URL. This profile will serve as the foundational bedrock for high-performance keyword research and content strategy, ensuring semantic relevance and authority.\\n\\nInstructions & Methodology:\\n\\n1. Deep Semantic Analysis: Conduct a deep analysis of the site's apparent purpose, core content themes, navigation structure, user experience, unique selling propositions (USPs), implied user journeys, and the overall semantic field it occupies.\\n2. Infer User Intent & Audience: Based on the site's content and structure, infer the primary user intents it aims to satisfy and construct detailed target audience personas.\\n3. Identify Key Entities & Relationships: Extract core entities (people, products, services, concepts, organizations, locations) and understand the relationships between them.\\n4. Semantic Clustering & LSI Analysis: Identify broader semantic clusters and latent semantic indexing (LSI) terms that are closely associated with the site's primary topics, even if not explicitly stated as main navigation items.\\n5. Voice & Tone Assessment: Analyze the implicit voice, tone, and authority conveyed by the site's language and presentation.\\n6. Actionable Gaps & Opportunities: Identify potential semantic gaps or opportunities for expansion that align with the site's core mission and audience needs, which could inform future content and keyword targeting.\\n\\nOutput Format:\\n\\nThe output MUST be a perfectly structured JSON object. Do NOT include any introductory or concluding text outside the JSON. Ensure all arrays are correctly formatted as lists, and all objects within arrays contain the specified keys. If a specific section cannot be confidently determined, use null or an empty array [] as appropriate, but strive for comprehensive analysis.\\n\\n{\\n  \\\"site_url\\\": \\\"[URL_TO_ANALYZE]\\\",\\n  \\\"profile_date\\\": \\\"YYYY-MM-DDTHH:MM:SSZ\\\",\\n  \\\"core_identity\\\": {\\n    \\\"primary_purpose\\\": \\\"Briefly describe the main purpose or mission of the website. (e.g., 'E-commerce platform for sustainable fashion', 'Educational resource for digital marketing', 'SaaS for project management').\\\",\\n    \\\"business_model_or_focus\\\": \\\"Is it B2B, B2C, informational, service-based, product-based, community-driven, etc.?\\\"\\n  },\\n  \\\"primary_semantic_domains\\\": [\\n    {\\n      \\\"domain_name\\\": \\\"Core Topical Pillar 1 (e.g., 'Enterprise Software Solutions')\\\",\\n      \\\"keywords_synonyms\\\": [\\\"key term 1\\\", \\\"key term 2\\\", \\\"related phrase\\\"],\\n      \\\"description\\\": \\\"Elaborate on this pillar's focus within the site.\\\"\\n    },\\n    {\\n      \\\"domain_name\\\": \\\"Core Topical Pillar 2 (e.g., 'Cloud Infrastructure')\\\",\\n      \\\"keywords_synonyms\\\": [\\\"key term 3\\\", \\\"key term 4\\\", \\\"another phrase\\\"],\\n      \\\"description\\\": \\\"Elaborate on this pillar's focus within the site.\\\"\\n    }\\n  ],\\n  \\\"key_entities_and_concepts\\\": [\\n    {\\n      \\\"entity_name\\\": \\\"Specific Product/Service Name\\\",\\n      \\\"type\\\": \\\"Product/Service/Person/Concept/Location/Organization\\\",\\n      \\\"relevance_score\\\": \\\"High/Medium/Low\\\",\\n      \\\"description\\\": \\\"Brief description of the entity's role on the site.\\\"\\n    },\\n    {\\n      \\\"entity_name\\\": \\\"Industry-Specific Term/Concept\\\",\\n      \\\"type\\\": \\\"Concept\\\",\\n      \\\"relevance_score\\\": \\\"High\\\",\\n      \\\"description\\\": \\\"A core concept frequently referenced.\\\"\\n    }\\n  ],\\n  \\\"target_audience_personas\\\": [\\n    {\\n      \\\"persona_name\\\": \\\"Persona 1 Name (e.g., 'Small Business Owner')\\\",\\n      \\\"demographics\\\": \\\"Age range, location, industry, role, company size (if B2B).\\\",\\n      \\\"pain_points\\\": [\\\"Specific problem 1\\\", \\\"Specific problem 2\\\"],\\n      \\\"aspirations_goals\\\": [\\\"Desired outcome 1\\\", \\\"Desired outcome 2\\\"],\\n      \\\"how_site_helps\\\": \\\"How does this site address their needs?\\\"\\n    },\\n    {\\n      \\\"persona_name\\\": \\\"Persona 2 Name (e.g., 'Marketing Manager')\\\",\\n      \\\"demographics\\\": \\\"...\\\",\\n      \\\"pain_points\\\": [\\\"...\\\"],\\n      \\\"aspirations_goals\\\": [\\\"...\\\"],\\n      \\\"how_site_helps\\\": \\\"...\\\"\\n    }\\n  ],\\n  \\\"user_intents_addressed\\\": [\\n    \\\"Informational (seeking knowledge, answers)\\\",\\n    \\\"Navigational (seeking a specific site or page)\\\",\\n    \\\"Transactional (intending to buy/subscribe/download)\\\",\\n    \\\"Commercial Investigation (researching before purchase)\\\",\\n    \\\"Local (seeking local business/service, if applicable)\\\"\\n  ],\\n  \\\"value_proposition_differentiation\\\": {\\n    \\\"unique_selling_points\\\": [\\\"USP 1 (e.g., 'Unparalleled customer support')\\\", \\\"USP 2 (e.g., 'Proprietary AI technology')\\\"],\\n    \\\"competitive_advantage\\\": \\\"What makes this site/business stand out from competitors in its semantic space?\\\",\\n    \\\"problem_solved_for_user\\\": \\\"What core problem does the site solve for its target audience?\\\"\\n  },\\n  \\\"associated_semantic_clusters\\\": [\\n    {\\n      \\\"cluster_name\\\": \\\"Related Topic Cluster A (e.g., 'Digital Transformation Trends')\\\",\\n      \\\"related_terms\\\": [\\\"AI in business\\\", \\\"automation strategies\\\", \\\"industry 4.0\\\"],\\n      \\\"relevance_to_core\\\": \\\"High/Medium/Low\\\"\\n    },\\n    {\\n      \\\"cluster_name\\\": \\\"Related Topic Cluster B (e.g., 'Sustainable Practices')\\\",\\n      \\\"related_terms\\\": [\\\"eco-friendly materials\\\", \\\"circular economy\\\", \\\"carbon footprint reduction\\\"],\\n      \\\"relevance_to_core\\\": \\\"High/Medium/Low\\\"\\n    }\\n  ],\\n  \\\"content_tone_and_voice\\\": {\\n    \\\"primary_tone\\\": \\\"Formal/Informal, Authoritative/Friendly, Technical/Accessible, Playful/Serious\\\",\\n    \\\"brand_adjectives\\\": [\\\"Professional\\\", \\\"Innovative\\\", \\\"Empathetic\\\", \\\"Direct\\\", \\\"Educational\\\"],\\n    \\\"implied_authority_signals\\\": \\\"Does the site convey expertise, trust, thought leadership? How? (e.g., 'Research-backed content', 'Client testimonials', 'Industry awards').\\\"\\n  },\\n  \\\"implied_call_to_actions\\\": [\\n    \\\"Learn More (Informational)\\\",\\n    \\\"Sign Up for a Demo/Trial (Commercial)\\\",\\n    \\\"Buy Now/Add to Cart (Transactional)\\\",\\n    \\\"Contact Us (Navigational/Transactional)\\\",\\n    \\\"Download Resource (Informational/Commercial)\\\"\\n  ],\\n  \\\"semantic_gaps_opportunities\\\": [\\n    {\\n      \\\"opportunity_area\\\": \\\"Underexplored Semantic Territory (e.g., 'Advanced API Integrations')\\\",\\n      \\\"justification\\\": \\\"Why this area is a good fit and how it aligns with existing themes/audience needs.\\\",\\n      \\\"potential_content_types\\\": [\\\"Blog posts\\\", \\\"Guides\\\", \\\"Case studies\\\", \\\"Product pages\\\"]\\n    },\\n    {\\n      \\\"opportunity_area\\\": \\\"Addressing Specific Niche User Pain Point (e.g., 'Cost-Effective Solutions for Startups')\\\",\\n      \\\"justification\\\": \\\"This niche isn't explicitly covered but aligns with a persona's pain point.\\\",\\n      \\\"potential_content_types\\\": [\\\"Comparison articles\\\", \\\"Pricing guides\\\", \\\"Webinars\\\"]\\n    }\\n  ]\\n}\\n\\nInitiate analysis with: [{{ $json.target_site }}] and remember about main business goal: {{ $json.buissenes_goal }}\"         }       ]     }   ], \"tools\": [\n    {\n      \"url_context\": {}\n    }\n  ],  \"generationConfig\": {     \"responseMimeType\": \"text/plain\",     \"maxOutputTokens\": 100000   } }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        976,
        -96
      ],
      "id": "95abab07-beea-4d88-85d0-991a35a8785c",
      "name": "Generate semantic profile for target site",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "googlePalmApi": {
          "id": "jMgbCZ8ykjnrWbIr",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "select": "user",
        "user": {
          "__rl": true,
          "value": "={{ $('When Executed by Another Workflow').item.json.user }}",
          "mode": "id"
        },
        "text": "=Semantic profile for target site is ready.",
        "otherOptions": {
          "includeLinkToWorkflow": false,
          "thread_ts": {
            "replyValues": {
              "thread_ts": "={{ $('When Executed by Another Workflow').item.json.timestamp }}"
            }
          }
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        1648,
        -96
      ],
      "id": "bc8776f1-277b-4c0d-b725-7dc29cf7d035",
      "name": "Send a message",
      "webhookId": "6998fbaa-ac4f-4239-af91-ad1e66610590",
      "credentials": {
        "slackApi": {
          "id": "0sQzgF3XJIVOKQoD",
          "name": "Keyword generation"
        }
      }
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "target_site"
            },
            {
              "name": "session"
            },
            {
              "name": "buissenes_goal"
            },
            {
              "name": "user"
            },
            {
              "name": "timestamp"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        752,
        -96
      ],
      "id": "31a723df-543f-44ec-8a7d-1eb3e95382ab",
      "name": "When Executed by Another Workflow"
    }
  ],
  "connections": {
    "MongoDB": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formating": {
      "main": [
        [
          {
            "node": "MongoDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate semantic profile for target site": {
      "main": [
        [
          {
            "node": "Formating",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Result message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Generate semantic profile for target site",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "target_site": "https://www.dizzain.com",
          "session": "1752657733.899859",
          "buissenes_goal": "attract similar high-profile clients who are interested in our services",
          "user": "U01QLUNCNF4",
          "timestamp": "1752657736.104179"
        }
      }
    ]
  },
  "versionId": "b074bce4-5c71-444a-918c-2af88b80a143",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-08-28T14:31:56.720Z",
      "updatedAt": "2025-08-28T14:31:56.720Z",
      "role": "workflow:owner",
      "workflowId": "QzMCkptc0yY2FKb3",
      "projectId": "flRKzvtMN6hhu506"
    }
  ],
  "tags": []
}