dev/get-geo.json
{
  "createdAt": "2025-08-12T12:36:37.984Z",
  "updatedAt": "2025-09-02T11:21:00.386Z",
  "id": "0hJYnZxkhfmyaTAm",
  "name": "Get geo",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      resourceName: $input.first().json.results[0].geoTargetConstant.resourceName.replace(\"geoTargetConstants/\", \"\")\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        -32
      ],
      "id": "e0ffcfd6-6185-44ba-a8be-0e2ed383274c",
      "name": "Formating"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "country"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -32,
        -48
      ],
      "id": "42ed5610-fcff-4a7e-b702-327e652b00dd",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://googleads.googleapis.com/v19/customers/2400614295/googleAds:search",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleAdsOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "developer-token",
              "value": "vNsmUkml55K8cqbmUzxKiw"
            },
            {
              "name": "login-customer-id",
              "value": "6234909705"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "=SELECT geo_target_constant.resource_name, geo_target_constant.id, geo_target_constant.name, geo_target_constant.country_code, geo_target_constant.target_type FROM geo_target_constant WHERE geo_target_constant.country_code = '{{ $json.country.toUpperCase() }}'"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        272,
        -48
      ],
      "id": "6dd4fc4a-58f3-4fc9-9d73-294dc5d6a512",
      "name": "Get geo codes",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleAdsOAuth2Api": {
          "id": "DxObVy2L2DiRkJ3x",
          "name": "Google Ads account (amplect test account)"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Get geo codes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get geo codes": {
      "main": [
        [
          {
            "node": "Formating",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "country": "US"
        }
      }
    ]
  },
  "versionId": "fa705575-af69-47df-a849-e675486306a1",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-08-28T14:27:53.164Z",
      "updatedAt": "2025-08-28T14:27:53.164Z",
      "role": "workflow:owner",
      "workflowId": "0hJYnZxkhfmyaTAm",
      "projectId": "flRKzvtMN6hhu506"
    }
  ],
  "tags": []
}