dev/get-data.json
{
  "createdAt": "2025-06-23T13:26:27.194Z",
  "updatedAt": "2025-07-16T07:29:36.211Z",
  "id": "11DmabOPs22OaHGW",
  "name": "Get data",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "7ea523fd-90d6-47fd-8647-7be84ac4a84b",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "164fdfed-1ec3-4679-80e4-2d7eac4fb7ef",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        -144
      ],
      "id": "7f78566e-2197-4f98-9a0e-03843e3deea5",
      "name": "Webhook",
      "webhookId": "164fdfed-1ec3-4679-80e4-2d7eac4fb7ef"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1200,
        -144
      ],
      "id": "3451a8d2-d3c0-4856-8b2f-82092a8b126c",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2b15735b-e759-49c5-8a4c-46af5b910e70",
              "leftValue": "={{ $json.sheetUrl }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        448,
        -144
      ],
      "id": "d890f091-d470-4fee-a1cd-f3603843cc61",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6d363617-f6f1-45dc-b5a4-06cd486fd082",
              "name": "sheetUrl",
              "value": "={{ $json.body.sheetUrl }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        -144
      ],
      "id": "63287aaa-f539-42d7-b425-39adf64cf070",
      "name": "map",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nreturn {\n  rows: $input.all().map(item => item.json)\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        864,
        -240
      ],
      "id": "7be3c462-071c-4ce6-9018-601732e5a5ed",
      "name": "Code"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $json.sheetUrl }}",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $json.sheetUrl }}",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        640,
        -240
      ],
      "id": "e4aa5470-3909-4df4-b593-6c6092be4db2",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8gaWRnOMLmzKzb4j",
          "name": "Google Dizzain account"
        }
      }
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        []
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "map",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "map": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "45b8b30f-786d-4d94-96f2-6bf4fd464e82",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2025-08-28T14:28:00.959Z",
      "updatedAt": "2025-08-28T14:28:00.959Z",
      "role": "workflow:owner",
      "workflowId": "11DmabOPs22OaHGW",
      "projectId": "flRKzvtMN6hhu506"
    }
  ],
  "tags": []
}