dev/get-all-folder-files.json
{
  "createdAt": "2025-07-08T08:00:31.605Z",
  "updatedAt": "2025-07-16T07:40:22.047Z",
  "id": "v50zKISZCDAMpS08",
  "name": "Get all folder files",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "url"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        48
      ],
      "id": "3c141af4-f978-4032-9562-0cff03fd4c25",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3cd0e9ad-2fc2-4a3c-958b-70da1691951b",
              "leftValue": "={{$json.webViewLink}}",
              "rightValue": "https://drive.google.com/drive/folders",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        448,
        144
      ],
      "id": "18a9efb3-d54d-4c49-9f47-80c29ec79a08",
      "name": "Filter subfolders"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3cd0e9ad-2fc2-4a3c-958b-70da1691951b",
              "leftValue": "={{$json.webViewLink}}",
              "rightValue": "https://drive.google.com/drive/folders",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        672,
        -96
      ],
      "id": "41b4fe0f-3f16-4a09-b82e-cf13ff311c7e",
      "name": "Filter files"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        672,
        144
      ],
      "id": "9322f36e-4d49-4feb-9a5f-2da6433cb318",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "v50zKISZCDAMpS08",
          "mode": "list",
          "cachedResultName": "Get all folder files"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "url": "={{ $json.webViewLink }}"
          },
          "matchingColumns": [
            "url"
          ],
          "schema": [
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        896,
        144
      ],
      "id": "685435be-ac4b-4e2e-904f-3bd556a47a79",
      "name": "Execute Workflow"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        896,
        -48
      ],
      "id": "4e197d80-63cf-4d5a-8787-87f77162ed28",
      "name": "Merge"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1120,
        264
      ],
      "id": "6863db62-4be5-4000-9180-202260f30dd8",
      "name": "Wait",
      "webhookId": "edabb4f5-7cd3-47dc-9c49-75171d40e275"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "={{ $json.url }}",
            "mode": "url"
          },
          "whatToSearch": "all"
        },
        "options": {
          "fields": [
            "id",
            "name",
            "webViewLink",
            "thumbnailLink",
            "version"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        224,
        48
      ],
      "id": "406d1f6b-65c8-4a73-b49f-e22e2d54a6d4",
      "name": "Search files and folders",
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "eSNqSATRHln2HTCD",
          "name": "Google Dizzain account"
        }
      }
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter subfolders": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter files": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Filter subfolders",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filter files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "ab823739-9707-4941-8bcc-b9fe67fbb79b",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-08-28T14:35:26.679Z",
      "updatedAt": "2025-08-28T14:35:26.679Z",
      "role": "workflow:owner",
      "workflowId": "v50zKISZCDAMpS08",
      "projectId": "flRKzvtMN6hhu506"
    }
  ],
  "tags": []
}