dev/get-customer-invoices.json
{
  "createdAt": "2025-07-14T15:04:31.194Z",
  "updatedAt": "2025-07-16T06:28:41.651Z",
  "id": "Tw3x1iuClzMLAxO4",
  "name": "Get customer invoices",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "c72ae394-2127-4fc6-920c-11d06e458372",
        "responseMode": "lastNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "c1c310f3-5302-4ff2-9c58-d47eb122b1be",
      "name": "Webhook",
      "webhookId": "c72ae394-2127-4fc6-920c-11d06e458372"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3ee9b170-c99f-44fc-8c8a-75a40fcf1eda",
              "name": "email",
              "value": "={{ $json.body.email }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        220,
        0
      ],
      "id": "ceeeeb95-3ccd-4d17-b8e7-a074202b569c",
      "name": "params"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "lIBo5maVVG6wjO0F",
          "mode": "list",
          "cachedResultName": "Get customer sheet data"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "email": "={{ $json.email }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "customer_id",
              "displayName": "customer_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "getAllCustomersData",
              "displayName": "getAllCustomersData",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean",
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        440,
        0
      ],
      "id": "484fbbe9-b6d5-4844-b9df-1e08c73b5337",
      "name": "Execute Workflow"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "29232c1c-3d00-48c7-905c-b7f2ec49a261",
              "leftValue": "={{ $input.first().json.isEmpty() }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        660,
        0
      ],
      "id": "a79c5e00-4af2-4b67-83d3-57de0e8039ad",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1240,
        40
      ],
      "id": "fe4e3129-393a-4a54-967b-e7e84514fe3a",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "jsCode": "return {};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        940,
        120
      ],
      "id": "769ecf20-b1e7-4ac3-bcb2-1bb990010276",
      "name": "empty"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "B31Q4QLT6HxEefSK",
          "mode": "list",
          "cachedResultName": "Get stripe subscription invoices"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "subscription_id": "={{ $json.Stripe_Subscription_ID }}"
          },
          "matchingColumns": [
            "subscription_id"
          ],
          "schema": [
            {
              "id": "subscription_id",
              "displayName": "subscription_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        940,
        -40
      ],
      "id": "7a168f3b-88ac-4711-9b91-c7f5b6dd22af",
      "name": "Get invoices"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "params",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "params": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Get invoices",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "empty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "empty": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get invoices": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "f53e976b-a256-46f8-a964-effe0435aec8",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2025-08-28T14:32:08.403Z",
      "updatedAt": "2025-08-28T14:32:08.403Z",
      "role": "workflow:owner",
      "workflowId": "Tw3x1iuClzMLAxO4",
      "projectId": "flRKzvtMN6hhu506"
    }
  ],
  "tags": []
}