dev/git-repo-code-analyzer.json
{
  "createdAt": "2025-08-21T09:42:35.657Z",
  "updatedAt": "2025-08-23T14:35:22.214Z",
  "id": "sAWbuvp4YWBTNsvW",
  "name": "Git Repo Code Analyzer",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {},
      "id": "e1d5c2b3-4a5b-6c7d-8e9f-0a1b2c3d4e5f",
      "name": "ManualTrigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        250,
        300
      ],
      "notesInFlow": true,
      "notes": "Initiates the workflow manually when executed by a user."
    },
    {
      "parameters": {
        "operation": "list",
        "repositoryPath": "https://github.com/n8n-io/n8n.git",
        "branch": "master",
        "returnAll": false,
        "limit": 10
      },
      "id": "f2e6d3c4-5b6c-7d8e-9f0a-1b2c3d4e5f6a",
      "name": "FetchCommits",
      "type": "n8n-nodes-base.git",
      "typeVersion": 1,
      "position": [
        450,
        300
      ],
      "notesInFlow": true,
      "notes": "Fetches the 10 latest commits from the specified repository URL and branch."
    },
    {
      "parameters": {
        "resource": "text",
        "operation": "message",
        "modelId": "gpt-3.5-turbo",
        "messages": {
          "values": [
            {
              "role": "user",
              "content": "=Analyze the following commit messages and provide a summary of the changes:\n\n{{ $json[\"message\"] }}"
            }
          ]
        },
        "options": {
          "temperature": 0.3,
          "maxTokens": 500
        }
      },
      "id": "a3f7e4d5-6c7d-8e9f-0a1b-2c3d4e5f6b7c",
      "name": "AnalyzeCommits",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        650,
        300
      ],
      "notesInFlow": true,
      "notes": "Analyzes the commit messages from the Git node and generates a summary of the changes using AI."
    }
  ],
  "connections": {
    "ManualTrigger": {
      "main": [
        [
          {
            "node": "FetchCommits",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FetchCommits": {
      "main": [
        [
          {
            "node": "AnalyzeCommits",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true,
    "saveDataErrorExecution": "all",
    "errorWorkflow": "",
    "timezone": "America/New_York"
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "5d470fdf-970d-4b41-b5f0-d564b078a4d3",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-08-28T14:34:55.662Z",
      "updatedAt": "2025-08-28T14:34:55.662Z",
      "role": "workflow:owner",
      "workflowId": "sAWbuvp4YWBTNsvW",
      "projectId": "flRKzvtMN6hhu506"
    }
  ],
  "tags": []
}