dev/git-repository-code-analyzer.json
{
  "createdAt": "2025-08-20T14:30:16.832Z",
  "updatedAt": "2025-08-23T14:35:16.334Z",
  "id": "64KhzzmANgCYfWEP",
  "name": "Git Repository Code Analyzer",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {},
      "id": "a5f8d2e3-7b4c-4e9a-b1c3-2d4e5f6a7b8c",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        220,
        280
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": "={{ $json.owner }}",
        "repository": "={{ $json.repository }}",
        "filePath": "={{ $json.filePath }}",
        "additionalParameters": {}
      },
      "id": "b6c9d3e4-8c5d-5f0a-c2d4-3e5f6g7h8i9j",
      "name": "GitHub",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        620,
        280
      ],
      "credentials": {
        "githubApi": {
          "id": "1",
          "name": "GitHub API"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d7f5e3a2-9b8c-4e1d-a3c5-6f8b9d2e4a7c",
              "name": "owner",
              "value": "owner-name",
              "type": "string"
            },
            {
              "id": "e8f6d4b3-0c9d-5f2e-b4d6-7g9c0e3f5b8d",
              "name": "repository",
              "value": "repository-name",
              "type": "string"
            },
            {
              "id": "f9g7e5c4-1d0e-6g3f-c5e7-8h0d1f4g6c9e",
              "name": "filePath",
              "value": "src/main.js",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "c7d0e4f5-9d6e-6g1a-d3e5-4f6g7h8i9j0k",
      "name": "Set Repository Info",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        420,
        280
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ 'Analyze this code from file: ' + $json.path + '\\n\\nCode content:\\n' + $json.content }}",
        "hasOutputParser": false,
        "options": {
          "systemMessage": "You are a senior code analyst. Your task is to analyze the provided code and give detailed feedback about:\n1. Code quality and structure\n2. Potential bugs or issues\n3. Security vulnerabilities\n4. Performance optimization opportunities\n5. Best practices compliance\n6. Suggestions for improvement\n\nProvide your analysis in a clear, structured format."
        }
      },
      "id": "d8e1f5g6-0e7f-7h2b-e4f6-5g7h8i9j0k1l",
      "name": "AI Code Analyzer",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        820,
        280
      ]
    },
    {
      "parameters": {
        "model": "openai/gpt-4o",
        "options": {
          "temperature": 0.3,
          "maxTokensToSample": 4000
        }
      },
      "id": "e9f2g6h7-1f8g-8i3c-f5g7-6h8i9j0k1l2m",
      "name": "OpenRouter Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        740,
        500
      ],
      "credentials": {
        "openRouterApi": {
          "id": "2",
          "name": "OpenRouter API"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "id": "f0g3h7i8-2g9h-9j4d-g6h8-7i9j0k1l2m3n",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        900,
        500
      ]
    },
    {
      "parameters": {
        "toolDescription": "Use this tool to list all files in a GitHub repository to understand the project structure",
        "method": "GET",
        "url": "=https://api.github.com/repos/{{ $json.owner }}/{{ $json.repository }}/contents",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameter": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "placeholderDefinitions": {
          "values": []
        }
      },
      "id": "g1h4i8j9-3h0i-0k5e-h7i9-8j0k1l2m3n4o",
      "name": "List Repository Files",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        1060,
        500
      ],
      "credentials": {
        "githubApi": {
          "id": "1",
          "name": "GitHub API"
        }
      }
    },
    {
      "parameters": {
        "content": "## 🔧 Configuration Required\n\n1. **GitHub Credentials**: Add your GitHub API token\n2. **OpenRouter API**: Add your OpenRouter API key\n3. **Repository Settings**: Update the repository owner and name in 'Set Repository Info' node\n4. **File Path**: Specify which file to analyze",
        "height": 200,
        "width": 250,
        "color": 5
      },
      "id": "h2i5j9k0-4i1j-1l6f-i8j0-9k1l2m3n4o5p",
      "name": "Setup Instructions",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        220,
        60
      ]
    },
    {
      "parameters": {
        "content": "## 📊 Code Analysis Workflow\n\nThis workflow:\n1. Triggers manually\n2. Sets repository information\n3. Fetches code from GitHub\n4. Analyzes it with AI agent\n5. Returns detailed analysis",
        "height": 180,
        "width": 250,
        "color": 1
      },
      "id": "i3j6k0l1-5j2k-2m7g-j9k1-0l2m3n4o5p6q",
      "name": "Workflow Overview",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        500,
        60
      ]
    },
    {
      "parameters": {
        "content": "## 🤖 AI Agent Components\n\n- **Chat Model**: Processes code analysis\n- **Memory**: Maintains context\n- **Tool**: Can list repository files",
        "height": 150,
        "width": 250,
        "color": 3
      },
      "id": "j4k7l1m2-6k3l-3n8h-k0l2-1m3n4o5p6q7r",
      "name": "AI Components",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        780,
        60
      ]
    },
    {
      "parameters": {
        "content": "## ⚙️ Customization Options\n\n- Add more analysis tools\n- Connect to different Git providers\n- Integrate with issue tracking\n- Add code formatting tools",
        "height": 150,
        "width": 250,
        "color": 6
      },
      "id": "k5l8m2n3-7l4m-4o9i-l1m3-2n4o5p6q7r8s",
      "name": "Extension Ideas",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1060,
        60
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set Repository Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Repository Info": {
      "main": [
        [
          {
            "node": "GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub": {
      "main": [
        [
          {
            "node": "AI Code Analyzer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Code Analyzer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Code Analyzer",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "List Repository Files": {
      "ai_tool": [
        [
          {
            "node": "AI Code Analyzer",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true,
    "saveDataErrorExecution": "all",
    "errorWorkflow": "",
    "timezone": "America/New_York"
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "8e9394d5-ca1a-43e9-8a00-a0ccb87ac90b",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-08-28T14:28:55.712Z",
      "updatedAt": "2025-08-28T14:28:55.712Z",
      "role": "workflow:owner",
      "workflowId": "64KhzzmANgCYfWEP",
      "projectId": "flRKzvtMN6hhu506"
    }
  ],
  "tags": []
}