dev/modify-result-tool-(new).json
{
  "createdAt": "2025-08-21T07:08:39.914Z",
  "updatedAt": "2025-09-02T11:20:13.871Z",
  "id": "eA7ZffJVG3B86Pc6",
  "name": "Modify result tool (new)",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "session"
            },
            {
              "name": "brand"
            },
            {
              "name": "task"
            },
            {
              "name": "sheet_link"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        1424,
        -240
      ],
      "id": "a2f395fb-fd35-4e21-a8ab-a61e7d9d0599",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $('When Executed by Another Workflow').item.json.sheet_link }}",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "keywords",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "text",
              "displayName": "text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "competition",
              "displayName": "competition",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "avgMonthlySearches",
              "displayName": "avgMonthlySearches",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "competitionIndex",
              "displayName": "competitionIndex",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "lowTopOfPageBidMicros",
              "displayName": "lowTopOfPageBidMicros",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "highTopOfPageBidMicros",
              "displayName": "highTopOfPageBidMicros",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        2912,
        -240
      ],
      "id": "b7bd5f5c-cf11-4427-8b88-3d01fb692b1e",
      "name": "Update keywords table",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8gaWRnOMLmzKzb4j",
          "name": "Google Dizzain account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "[\n  {\n    \"text\": \"ymca basketball classes\",\n    \"competition\": \"LOW\",\n    \"avgMonthlySearches\": \"390\",\n    \"competitionIndex\": \"11\",\n    \"lowTopOfPageBidMicros\": \"580000\",\n    \"highTopOfPageBidMicros\": \"3190000\"\n  },\n  {\n    \"text\": \"jesuit basketball camp\",\n    \"competition\": \"LOW\",\n    \"avgMonthlySearches\": \"90\",\n    \"competitionIndex\": \"14\",\n    \"lowTopOfPageBidMicros\": \"2300000\",\n    \"highTopOfPageBidMicros\": \"2500000\"\n  },\n  {\n    \"text\": \"best basketball training programs\",\n    \"competition\": \"LOW\",\n    \"avgMonthlySearches\": \"260\",\n    \"competitionIndex\": \"7\",\n    \"lowTopOfPageBidMicros\": \"660000\",\n    \"highTopOfPageBidMicros\": \"2860000\"\n  }\n]"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        2256,
        48
      ],
      "id": "9031172e-eeaa-4b8a-9885-10539c18fba8",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "agent": "reActAgent",
        "promptType": "define",
        "text": "=Тебе нужно изменить данные (списки keywords) как этого просит пользователь.\nЗапрос пользователя: {{ $('When Executed by Another Workflow').first().json.task }}\n \nИсходная таблица: {{ JSON.stringify($('Get row(s) in sheet').all()) }}",
        "hasOutputParser": true,
        "options": {}
      },
      "id": "be5432e3-79e2-4f82-9bc3-cbc57ffd842c",
      "name": "Orchestrator agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        2048,
        -240
      ],
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1952,
        -80
      ],
      "id": "9d2abb74-0ead-44a9-a9f3-65ca8f579e39",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "jMgbCZ8ykjnrWbIr",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\n\nreturn $input.first().json.output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2432,
        -256
      ],
      "id": "466e5a4d-204c-4dd9-94fb-827e6aa6d928",
      "name": "Code2"
    },
    {
      "parameters": {
        "jsCode": "const link = `${$('When Executed by Another Workflow').first().json.sheet_link}`;\n\nreturn {\"link_keywords\": link};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3120,
        -240
      ],
      "id": "3e17b953-e052-4477-943e-7fd59ba0092a",
      "name": "Code3"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $json.sheet_link }}",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $json.sheet_link }}",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1632,
        -240
      ],
      "id": "9a6cfe32-533b-4256-98c2-50dcebdafe62",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8gaWRnOMLmzKzb4j",
          "name": "Google Dizzain account"
        }
      }
    },
    {
      "parameters": {
        "operation": "clear",
        "documentId": {
          "__rl": true,
          "value": "={{ $('When Executed by Another Workflow').item.json.sheet_link }}",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "keywords",
          "mode": "name"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1840,
        -240
      ],
      "id": "8728f515-7237-4533-9b7f-efe7878bac00",
      "name": "Clear sheet",
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8gaWRnOMLmzKzb4j",
          "name": "Google Dizzain account"
        }
      }
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Orchestrator agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Orchestrator agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Orchestrator agent": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Update keywords table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update keywords table": {
      "main": [
        [
          {
            "node": "Code3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Clear sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clear sheet": {
      "main": [
        [
          {
            "node": "Orchestrator agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "session": "1752657733.899859",
          "brand": "nike",
          "task": "Убери ключевые слова в которых указывается возраст ребенка",
          "sheet_link": "https://docs.google.com/spreadsheets/d/1N6AFDgK-5XpdOaTQtso5Z_iv4rqYeTr8AykU6rcbMDA/edit?gid=362222187#gid=362222187"
        }
      }
    ]
  },
  "versionId": "199cf46e-fee5-49ad-9e57-56345347c456",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-08-28T14:33:20.914Z",
      "updatedAt": "2025-08-28T14:33:20.914Z",
      "role": "workflow:owner",
      "workflowId": "eA7ZffJVG3B86Pc6",
      "projectId": "flRKzvtMN6hhu506"
    }
  ],
  "tags": []
}