dev/paymentstatuscheck.json
{
  "createdAt": "2025-07-10T15:46:10.875Z",
  "updatedAt": "2025-07-16T06:29:54.997Z",
  "id": "a7Hy9ZiltGDtqAY8",
  "name": "PaymentStatusCheck",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        420,
        -55
      ],
      "id": "23a54152-c757-472f-912e-d4d59d79aa8d",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "lIBo5maVVG6wjO0F",
          "mode": "list",
          "cachedResultName": "Get customer sheet data"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "getAllCustomersData": true
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "customer_id",
              "displayName": "customer_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "getAllCustomersData",
              "displayName": "getAllCustomersData",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        640,
        70
      ],
      "id": "10f10bef-80b2-4aaf-989d-a9be453ec84a",
      "name": "Customer data"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "months",
              "triggerAtDayOfMonth": 30,
              "triggerAtHour": 3
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        420,
        145
      ],
      "id": "4d8becd6-bbb3-42c1-be8e-dd11ab94b024",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        860,
        70
      ],
      "id": "620babe6-f778-4841-a263-a846504265d7",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "fieldToSplitOut": "Periods",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1080,
        60
      ],
      "id": "e541118d-3862-4b37-8f96-a65a5745709b",
      "name": "Get periods",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b3486185-0839-4856-aedb-258b5a5d0abc",
              "leftValue": "={{ $json.Billing_Period }}",
              "rightValue": "={{ DateTime.now().plus({ months: 1 }).toFormat('MMMM yyyy') }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1300,
        60
      ],
      "id": "3e341e5d-bef3-46d8-8c0f-d5e69e2c7125",
      "name": "Find next month",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "81ed2734-69ea-42fd-92be-646b958bdf24",
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            },
            {
              "id": "871d51e8-3d68-4b68-a98f-c873f5184226",
              "leftValue": "={{ $json.Payment_Status === 'Failed' || $json.Payment_Status === 'Pending' }}",
              "rightValue": "Failed",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1520,
        60
      ],
      "id": "cb24aba9-0e6b-4c5a-972f-f16ed82847b5",
      "name": "If empty price id"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "eJ6iOKTSuaXPp2aM",
          "mode": "list",
          "cachedResultName": "Update customer sheet data"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $json.row_number }}",
            "Payment_Status": "Hold"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "Stripe_Customer_ID",
              "displayName": "Stripe_Customer_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "Stripe_Subscription_ID",
              "displayName": "Stripe_Subscription_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "Stripe_Sub_Item_ID",
              "displayName": "Stripe_Sub_Item_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "Payment_Method",
              "displayName": "Payment_Method",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "Stripe_Price_ID",
              "displayName": "Stripe_Price_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "Payment_Status",
              "displayName": "Payment_Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "Stripe_Fee_Actual",
              "displayName": "Stripe_Fee_Actual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": true
            },
            {
              "id": "Ads_Spend_MTD",
              "displayName": "Ads_Spend_MTD",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": true
            },
            {
              "id": "Ads_Spend_Actual",
              "displayName": "Ads_Spend_Actual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": true
            },
            {
              "id": "Adjustment",
              "displayName": "Adjustment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1740,
        80
      ],
      "id": "0ddc9b1f-7416-4a53-a256-053572ecd3ef",
      "name": "Execute Workflow"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Customer data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Customer data": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Customer data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Get periods",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get periods": {
      "main": [
        [
          {
            "node": "Find next month",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find next month": {
      "main": [
        [
          {
            "node": "If empty price id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If empty price id": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "pinData": {},
  "versionId": "18ead157-c4bb-499e-a94c-8bd846640613",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2025-08-28T14:32:42.784Z",
      "updatedAt": "2025-08-28T14:32:42.784Z",
      "role": "workflow:owner",
      "workflowId": "a7Hy9ZiltGDtqAY8",
      "projectId": "flRKzvtMN6hhu506"
    }
  ],
  "tags": []
}