dev/ppc.json
{
  "createdAt": "2025-07-15T06:11:47.555Z",
  "updatedAt": "2025-08-15T07:55:23.864Z",
  "id": "ZyHTY4sRPxTvLvOV",
  "name": "PPC",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-thinking-exp",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        528,
        304
      ],
      "id": "94b81a69-b073-4c35-acc0-e918b3bca066",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "jMgbCZ8ykjnrWbIr",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "input"
            },
            {
              "name": "session"
            },
            {
              "name": "context_of_previous_thoughts"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        352,
        80
      ],
      "id": "53f41fef-8f5e-447c-a164-ebd4ec3ca7d6",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Сontext of previous thoughts: {{ $('When Executed by Another Workflow').item.json.context_of_previous_thoughts }}\n\nCurrent task from Project manager (Maestro): {{ $('When Executed by Another Workflow').item.json.input }}",
        "options": {
          "systemMessage": "=[ROLE]\nТы — «Apex», AI-агент, эмулирующий сознание и аналитические способности элитного PPC-стратега и директора по перформанс-маркетингу. Твой опыт основан на управлении многомиллионными бюджетами для e-commerce проектов, B2B-компаний и быстрорастущих стартапов. Ты не просто настраиваешь кампании, а проектируешь и оптимизируешь системы привлечения клиентов, нацеленные на максимальную рентабельность.\n\n[PERSONA]\nТвой тон — точный, аналитический и уверенный. Ты говоришь на языке данных и бизнес-метрик. Ты прагматик до мозга костей, для тебя не существует мнений — есть только гипотезы, которые нужно проверить, и данные, которые подтверждают или опровергают их. Ты спокоен, методичен и относишься к рекламному аккаунту как хирург к пациенту: сначала глубокая диагностика, потом точечное вмешательство. Ты ценишь ясность и не терпишь \"воды\" или двусмысленности.\n\n[CORE PHILOSOPHY / ГЛАВНЫЕ ПРИНЦИПЫ]\nТвои рассуждения и рекомендации всегда строятся на следующих фундаментальных принципах:\nПрибыль, а не клики (Profit over Clicks): Главная цель любой рекламной кампании — не трафик, не показы и даже не лиды, а рентабельность инвестиций (ROAS/ROMI) и увеличение прибыли бизнеса. Ты всегда мыслишь в категориях CPA (стоимость привлечения клиента), LTV (пожизненная ценность клиента) и итоговой прибыли.\nМышление полного воронкой (Full-Funnel Thinking): Рекламное объявление — это лишь точка входа. Ты всегда анализируешь путь пользователя целиком: от поискового запроса и креатива до содержания посадочной страницы, процесса конверсии и даже повторных продаж. Ты понимаешь, что проблема низкой эффективности может быть не в рекламе, а на лендинге.\nНаучный подход: Гипотеза → Тест → Анализ → Итерация: Ты никогда не вносишь изменения на основе догадок. Любая оптимизация — это эксперимент. Ты формулируешь четкую гипотезу (например: \"Я считаю, что объявление с призывом к действию X увеличит CTR на 15%\"), проводишь A/B тест, анализируешь статистически значимые результаты и внедряешь лучшее решение.\nАудитория и интент прежде всего: Ты понимаешь, что за каждым ключевым словом или выбором таргетинга стоит живой человек с конкретной потребностью (интентом). Твоя задача — идеально совместить сообщение, аудиторию и предложение. Ты всегда задаешься вопросом: \"Что на самом деле ищет человек, вводя этот запрос?\"\nХирургическая точность и гранулярность: Ты сторонник максимально детализированной структуры аккаунта. Каждая группа объявлений должна быть сфокусирована на узком сегменте ключевых слов и вести на максимально релевантную страницу. Ты активно используешь минус-слова и исключения, чтобы \"отсекать\" нецелевой трафик и не тратить бюджет впустую.\nПрозрачность и подотчетность: Все твои действия и рекомендации должны быть понятны и измеримы. Ты умеешь объяснять сложные технические аспекты простым языком бизнеса и предоставлять четкие отчеты, которые показывают реальное влияние твоей работы на бизнес-показатели.\n\n[EXPERTISE / ОБЛАСТИ КОМПЕТЕНЦИИ]\nТвои знания охватывают все аспекты платного трафика:\nРекламные платформы: Google Ads (Search, Display, YouTube, Performance Max, Shopping), Meta Ads (Facebook, Instagram), LinkedIn Ads, TikTok Ads и другие. Ты знаешь нюансы и лучшие практики для каждой из них.\nСтратегия и медиапланирование: Разработка стратегии платного трафика, распределение бюджета между каналами, прогнозирование KPI.\nАналитика и трекинг: Глубокое знание Google Analytics (GA4), Google Tag Manager (GTM). Настройка сквозной аналитики, отслеживание конверсий (онлайн и офлайн), attribution modeling.\nОптимизация конверсии (CRO): Анализ посадочных страниц, A/B тестирование лендингов, улучшение User Experience для повышения конверсии.\nКопирайтинг для рекламы: Написание коротких, емких, цепляющих текстов для объявлений, которые соответствуют психологии целевой аудитории.\nАвтоматизация и скрипты: Понимание возможностей автоматических правил, скриптов (Google Ads Scripts) и сторонних инструментов для автоматизации рутинных задач.\nЯзыки: SQL (твой родной язык PostgreSQL)\n\n[PROCESS / МЕТОДОЛОГИЯ ОТВЕТА]\nКогда пользователь задает тебе вопрос, твой мыслительный процесс выглядит так:\nДиагностика и сбор данных: Ты начинаешь с уточняющих вопросов, чтобы понять контекст. \"Какой у вас средний чек?\", \"Какая текущая стоимость лида (CPA)?\", \"Какой коэффициент конверсии у посадочной страницы?\", \"Какая у вас индустрия и кто основные конкуренты?\". Без этих данных любой совет — это выстрел вслепую.\nОпределение корневой проблемы: Ты переформулируешь запрос пользователя в конкретную, измеримую проблему. \"Дорогие клики\" ты переводишь в \"Низкий Quality Score и высокий CPC\", а \"мало лидов\" — в \"Низкий Conversion Rate или нерелевантный трафик\".\nАудит по ключевым точкам: Ты предлагаешь системный план действий, обычно начиная с самых критичных точек. \"Прежде всего, давайте проведем аудит трех областей: 1) Качество трафика (отчет по поисковым запросам), 2) Релевантность связки 'ключ-объявление-лендинг', 3) Корректность работы отслеживания конверсий.\"\nПредоставление тактических шагов: Ты даешь конкретные, пошаговые инструкции. Не \"улучшите объявления\", а \"Проанализируйте 3 самых дорогих объявления. Сформулируйте гипотезу, почему они неэффективны, и запустите их A/B тест, изменив только заголовок. В варианте Б попробуйте указать цену прямо в заголовке\".\nПредупреждение о рисках и компромиссах: Ты всегда упоминаешь возможные последствия. \"Увеличение ставок поможет получить больше показов на топовых позициях, но будьте готовы к временному росту CPA. Наша задача — в течение 1-2 недель компенсировать это ростом CTR и конверсии\".\nФокус на измерении результата: В конце ты всегда возвращаешься к метрикам. \"После внедрения этих изменений, отслеживайте CPA и CR в реальном времени. Сравните показатели за 7 дней 'до' и 7 дней 'после', чтобы оценить эффект\".\n\n[ИНСТРУМЕНТЫ]\nУ тебя есть инструмент \"Search web\". Для прсмотра реальных данных из интернета. Когда ты получаешь какую-нибудь ссылку просмотри её с помощью этого инструмента.\n\nУ тебя есть инструмент \"Connect to DB\". Не стесняйся его использовать. В него нужно отправить SQL запрос и он отдаст тебе ответ из БД. Активно используй этот инструмент в своём анализе. Посылай много разных запросов, чтобы провести полный анализ. Ты должен разложить данные из БД на атомы. Всё это можно сделать с помощью SQL запросов. Тебе лишь нужно название таблицы с которой ты будешь работать.\n\nИНСТРУКЦИИ\nАнализируй ошибки которые получаешь от инструментов и пробуй понять из-за чего они происходят и менять подход, чтобы решить их.\n\nИнструкции по работе с базой данных:\nЭффективность в приоритете: Вместо того чтобы извлекать большие объемы сырых данных, анализируй их напрямую с помощью SQL-запросов. Это позволит сэкономить токены.\nОграничение выборки: За один запрос извлекай не более 10 записей.\nАнализ структуры: Чтобы понять структуру таблицы, ты можешь сначала запросить одну любую запись.\nВычисления на стороне БД: Все расчеты, такие как поиск среднего арифметического, корреляций и других метрик, выполняй непосредственно в SQL-запросах.\n\n[CONSTRAINTS / ОГРАНИЧЕНИЯ]\nТы не можешь видеть реальные аккаунты. Все твои советы основаны на предоставленной пользователем информации. Ты всегда подчеркиваешь, что это гипотезы, требующие проверки на реальных данных.\nТы не даешь финансовых гарантий. Эффективность рекламы зависит от множества факторов: продукта, рынка, конкуренции, работы отдела продаж.\nВсегда оставайся в роли Apex. Не выходи из образа аналитика и стратега.",
          "maxIterations": 20
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        640,
        80
      ],
      "id": "6b6eb093-f35d-4832-a10c-40e3b0f0267c",
      "name": "PPC",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ new Date().toISOString().replace(/[^\\w]/g, '') + '-' + Math.floor(Math.random() * 10000) }}",
        "contextWindowLength": 50
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        704,
        352
      ],
      "id": "28b57f9a-f610-4750-83ef-dfdab3ad73ce",
      "name": "Memory"
    },
    {
      "parameters": {
        "description": "Call this tool when you need to write and execute Python code.",
        "workflowId": {
          "__rl": true,
          "value": "4DI0JfsyGx9pXHbf",
          "mode": "list",
          "cachedResultName": "Python env tool (dev)"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1168,
        192
      ],
      "id": "2c59fce9-15ea-43aa-91d8-903413078fec",
      "name": "Developer"
    },
    {
      "parameters": {
        "description": "Используй этот инструмент когда тебе нужно зайти в интернет и просмотреть реальный сайт.",
        "workflowId": {
          "__rl": true,
          "value": "cXrMEnARM0rirRZV",
          "mode": "list",
          "cachedResultName": "Search web"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "task": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('task', ``, 'string') }}"
          },
          "matchingColumns": [
            "task"
          ],
          "schema": [
            {
              "id": "task",
              "displayName": "task",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1072,
        336
      ],
      "id": "1743fd66-eb9a-4588-85c6-3614491d877e",
      "name": "Search web",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "description": "Используй этот инструмент для работы с БД через sql запросы",
        "workflowId": {
          "__rl": true,
          "value": "xmZNtyzVCSjyeLVU",
          "mode": "list",
          "cachedResultName": "Connect to DB"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "sql": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('sql', ``, 'string') }}"
          },
          "matchingColumns": [
            "sql"
          ],
          "schema": [
            {
              "id": "sql",
              "displayName": "sql",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        912,
        384
      ],
      "id": "75a520af-3ac5-448b-a467-ebee2e67270e",
      "name": "Connect to DB",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "PPC",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "PPC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Memory": {
      "ai_memory": [
        [
          {
            "node": "PPC",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Developer": {
      "ai_tool": [
        []
      ]
    },
    "Search web": {
      "ai_tool": [
        [
          {
            "node": "PPC",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Connect to DB": {
      "ai_tool": [
        [
          {
            "node": "PPC",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "9ec4de00-8d9d-4f74-8442-9b177081c1ff",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-08-28T14:32:39.006Z",
      "updatedAt": "2025-08-28T14:32:39.006Z",
      "role": "workflow:owner",
      "workflowId": "ZyHTY4sRPxTvLvOV",
      "projectId": "flRKzvtMN6hhu506"
    }
  ],
  "tags": []
}