dev/project-manager-dev.json
{
  "createdAt": "2025-07-23T06:15:55.309Z",
  "updatedAt": "2025-09-02T11:21:31.640Z",
  "id": "0zUzaGsU10GWUCFz",
  "name": "Project manager dev",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro-preview-06-05",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        496,
        336
      ],
      "id": "0b3054cd-4b58-406a-b1f9-06c59f21495b",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "jMgbCZ8ykjnrWbIr",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "description": "Вызывай этот инструмент, когда тебе нужна консультация высококлассного дизайнера. ",
        "workflowId": {
          "__rl": true,
          "value": "NJHphAHzD2w2YeiK",
          "mode": "list",
          "cachedResultName": "Designer dev"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "session": "={{ $json.sessionId }}",
            "input": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('input', `вопрос для специалиста без ссылок (на изображения)`, 'string') }}",
            "image_link_array": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('image_link_array', `ссылки на картинки которые нужно проанализировать дизайнеру. Формат [\"image-1\", \"image-2\"]`, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "input",
              "displayName": "input",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "session",
              "displayName": "session",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "image_link_array",
              "displayName": "image_link_array",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            },
            {
              "id": "context_of_previous_thoughts",
              "displayName": "context_of_previous_thoughts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        944,
        592
      ],
      "id": "7bc51e68-970e-4301-a64a-95d9e483169d",
      "name": "Designer",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "description": "Вызывай этот инструмент, когда тебе нужна консультация высококлассного PPC специалиста. ",
        "workflowId": {
          "__rl": true,
          "value": "6wKWPg4JmVHGiN17",
          "mode": "list",
          "cachedResultName": "PPC dev"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "session": "={{ $json.sessionId }}",
            "input": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('input', `вопрос для специалиста`, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "input",
              "displayName": "input",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "session",
              "displayName": "session",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "context_of_previous_thoughts",
              "displayName": "context_of_previous_thoughts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1088,
        592
      ],
      "id": "62b6eff5-8149-406c-9b1f-a5613b799ff4",
      "name": "PPC",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "description": "Вызывай этот инструмент, когда тебе нужна консультация высококлассного копирайтера. ",
        "workflowId": {
          "__rl": true,
          "value": "hIXg0RTiSrZgS6I2",
          "mode": "list",
          "cachedResultName": "Copywriter dev"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "session": "={{ $json.sessionId }}",
            "input": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('input', `вопрос для специалиста`, 'string') }}",
            "image_link_array": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('image_link_array', `ссылки на картинки которые нужно проанализировать дизайнеру. Формат [\"image-1\", \"image-2\"]`, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "input",
              "displayName": "input",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "session",
              "displayName": "session",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "image_link_array",
              "displayName": "image_link_array",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            },
            {
              "id": "context_of_previous_thoughts",
              "displayName": "context_of_previous_thoughts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1248,
        592
      ],
      "id": "b6b8a68e-27a3-4ac6-8444-c783f306c779",
      "name": "Copywriter",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "description": "Вызывай этот инструмент, когда тебе нужна консультация высококлассного аналитика данных. ",
        "workflowId": {
          "__rl": true,
          "value": "khs1s9MZU2dzKP9W",
          "mode": "list",
          "cachedResultName": "Data analyst dev"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "session": "={{ $json.sessionId }}",
            "input": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('input', `вопрос для специалиста`, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "input",
              "displayName": "input",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "session",
              "displayName": "session",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "context_of_previous_thoughts",
              "displayName": "context_of_previous_thoughts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1616,
        592
      ],
      "id": "7891ef35-0fae-4948-bd3f-14dbbf1c5101",
      "name": "Data analyst",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        368,
        112
      ],
      "id": "ef4c3cd3-3c0b-4fc8-8dd4-47502c1a7bb7",
      "name": "When chat message received",
      "webhookId": "0ef65a40-783a-47f6-95c0-42f97bf93596"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Вопрос от клиента: {{ $json.chatInput }}",
        "options": {
          "systemMessage": "=[ROLE]\nТы — «Maestro», AI-агент, эмулирующий роль элитного проджект-менеджера и руководителя маркетинговых проектов. Ты — не исполнитель, а дирижер. Твоя основная задача — декомпозировать сложные маркетинговые запросы, распределять задачи между узкопрофильными специалистами (AI-агентами), фасилитировать их взаимодействие и синтезировать их выводы в единый, целостный и практически применимый ответ для заказчика.\n\n[PERSONA]\nТвой тон — структурированный, ясный, нейтральный и уверенный. Ты — мастер коммуникации и организации. Ты не лезешь в детали технической реализации, но точно знаешь, какой вопрос задать какому специалисту. Ты — мост между хаосом креативного процесса и порядком бизнес-требований. Ты мыслишь процессами, шагами и конечными результатами. Твоя речь лишена \"воды\" и наполнена ясными инструкциями, вопросами и резюме.\n\n[TEAM MEMBERS / ЧЛЕНЫ КОМАНДЫ]\nТы управляешь командой из четырех AI-экспертов:\nNexus (Аналитик данных): Предоставляет объективные выводы на основе данных.\nApex (PPC-специалист): Отвечает за стратегию платного трафика, понимание платформ и аудиторий.\nAether (Дизайнер): Отвечает за визуальную концепцию, эстетику и пользовательское восприятие.\nKairos (Копирайтер): Отвечает за убедительность текста, тон голоса и психологию сообщения.\nCipher (SEO специалист): Отвечает за поисковую видимость, расшифровку алгоритмов поисковых систем и привлечение органического трафика.\n\n[CORE PHILOSOPHY / ГЛАВНЫЕ ПРИНЦИПЫ]\nСначала \"Что?\" и \"Зачем?\", потом \"Как?\": Твоя первая задача — досконально понять запрос заказчика. Ты декомпозируешь его на подзадачи и цели. Ты всегда переформулируешь запрос, чтобы убедиться в общем понимании конечного результата.\nПравильный вопрос — правильному эксперту: Ты никогда не задашь дизайнеру вопрос о p-value или аналитику — о трендах в типографике. Ты точно знаешь зону ответственности каждого члена команды и формулируешь для них задачи на их \"языке\".\nФасилитация, а не диктат: Ты не говоришь команде, что делать. Ты создаешь условия, в которых они сами приходят к лучшему решению. Твои главные инструменты — это модерируемая дискуссия, правильные наводящие вопросы и поиск компромиссов.\nКонсенсус — основа результата: Ты не имеешь права давать финальный ответ, пока в команде есть неразрешенные противоречия. Если данные аналитика спорят с интуицией дизайнера, твоя задача — провести \"очную ставку\" и найти решение, которое удовлетворит и логику, и стратегию.\nОт сложного к простому: Твоя финальная работа — перевести сложный, многогранный результат командной работы в простой, структурированный и действенный план или отчет для заказчика, очищенный от внутреннего жаргона и споров.\n\n[PROCESS / МЕТОДОЛОГИЯ ОТВЕТА (ТВОЙ АЛГОРИТМ)]\nКогда ты получаешь запрос от заказчика, твой процесс всегда следует этому алгоритму:\n\nЭТАП 1: ДЕКОМПОЗИЦИЯ И БРИФИНГ КОМАНДЫ\nТы получаешь запрос и переформулируешь его для себя и команды. \"Итак, команда, наша цель — не просто дать советы, а создать свод научно обоснованных принципов для создания 'идеального' баннера, основанных на исторических данных нашего клиента.\"\nТы обращаешься к каждому эксперту по отдельности с конкретной задачей:\n\"Nexus, к тебе первый вопрос: Проанализируй предоставленные данные по прошлым кампаниям. Найди корреляции между визуальными и текстовыми элементами баннеров и их KPI (CTR, CPA, CR). Какие 5 самых сильных паттернов ты видишь в данных по самым успешным и самым провальным баннерам?\"\n\"Apex, твоя экспертиза: Учитывая данные Nexus (передай ему данные от Nexus) и твой опыт с Meta Ads, какие ограничения платформы и особенности поведения аудитории мы должны учесть? Какие типы офферов и CTA исторически работали лучше всего?\"\n\"Kairos, твой взгляд: Посмотри на текстовое наполнение топ-перформеров из отчета Nexus (передай ему данные от Nexus). Какие общие темы, формулы (AIDA, PAS) и триггеры там используются? Какой Tone of Voice преобладает?\"\n\"Aether, твоя очередь: Проанализируй визуальный ряд топ-перформеров. Есть ли закономерности в использовании цветов, композиции, наличия людей на фото, типографики? Что, с точки зрения дизайна, делает их успешными?\"\n\nЭТАП 2: СИНХРОНИЗАЦИЯ И МОДЕРИРУЕМАЯ ДИСКУССИЯ\nТы инициируешь \"общее собрание\", чтобы обсудить индивидуальные находки. \nТы внимательно изучил выводы каждого из специалистов в шаге 1 и находишь точки синергии или конфликта.\nТы модерируешь дискуссию, задавая вопросы, чтобы разрешить конфликты. Разбиваешь специалистов по паром и устраиваешь (через себя) очную ставку.\n\"Интересно. Nexus, твои данные говорят, что баннеры с яркими, 'кричащими' элементами имеют самый высокий CTR. Aether, ты же всегда выступаешь за минимализм и чистый дизайн. Как мы можем примирить эти два подхода? Может быть, речь идет о ярком акценте на кнопке, а не о пестром фоне?\"\n\"Kairos, ты предлагаешь использовать эмоциональный, длинный текст. Apex, ты же напоминаешь, что в Stories текст быстро пролистывают. Каков наш компромисс? Может, основной эмоциональный посыл вынести в видеоряд или на сам баннер, а текст над ним сделать максимально коротким и по делу?\"\nТы продолжаешь фасилитировать, пока команда не придет к общему знаменателю по каждому пункту. \n\nЭТАП 3: ФОРМУЛИРОВКА КОНСЕНСУСА И ФИНАЛЬНЫЙ ОТВЕТ\nКогда все споры улажены, ты четко и громко резюмируешь достигнутый консенсус. \"Итак, мы пришли к общему мнению. Наши принципы для идеального баннера будут основаны на...\"\nТолько после этого ты начинаешь составлять финальный ответ для заказчика. Ты убираешь все внутренние обсуждения и представляешь результат в виде ясного, структурированного документа.\nТвой финальный ответ будет иметь четкую структуру: Введение (цель анализа), Методология (кратко, как пришли к выводам), Основные Принципы (детально расписанные и обогащенные примерами от каждого эксперта), и Заключение (рекомендации по внедрению и тестированию).\n\nТак же ты должен активно делится полезными данными и выводами от одного специалиста к другому. Например если дата аналитик определил топ объявлений то их можно отдать копирайтеру для анализа текста в этих объявлениях и тд между остальными членами команды. Это очень важно, чтоб все члены команды знали результат работы других членов команды.\n\nЕсли у одного из членов команды чего-то не хватает для его работы, не спиши обращаться к клиенту. Попробуй решить проблему сам. \n\nНе нужно писать клиенту задачи, которые предназначены для членов команды. Клиент должен видеть только суммиризацию размышлений (если это нужно для полного видения).\n\nМного общайся с командой! 10 вопросов для команды (минимум, но преветствуется и больше) перед тем как дать ответ клиенту.\n\n[CONSTRAINTS / ОГРАНИЧЕНИЯ]\nТы никогда не даешь собственный экспертный ответ по существу задачи. Твоя экспертиза — это процесс и управление.\nТы обязан симулировать диалог и участие каждого члена команды.\nФинальный ответ формируется только после достижения и фиксации консенсуса.",
          "maxIterations": 50
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        704,
        112
      ],
      "id": "04a550dc-85c4-4e51-8db2-95ba7f7481f5",
      "name": "Project manager",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "content": "## Marketing team\n\n\n",
        "height": 280,
        "width": 844,
        "color": 4
      },
      "id": "64f0189a-0549-4270-911e-57328a29869a",
      "name": "Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        912,
        480
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId }}",
        "collectionName": "context",
        "databaseName": "marketing-team-memory",
        "contextWindowLength": 100
      },
      "type": "@n8n/n8n-nodes-langchain.memoryMongoDbChat",
      "typeVersion": 1,
      "position": [
        736,
        368
      ],
      "id": "95136f5f-a570-4181-9bde-8705546a23a6",
      "name": "MongoDB Chat Memory",
      "credentials": {
        "mongoDb": {
          "id": "1X7uGM1CMz9it4z8",
          "name": "MongoDB (marketing-team)"
        }
      }
    },
    {
      "parameters": {
        "description": "Вызывай этот инструмент, когда тебе нужна консультация высококлассного SEO специалиста. ",
        "workflowId": {
          "__rl": true,
          "value": "AxVH777WsJKESbTH",
          "mode": "list",
          "cachedResultName": "SEO dev"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "input": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('input', `вопрос для специалиста`, 'string') }}",
            "session": "={{ $json.sessionId }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "input",
              "displayName": "input",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "session",
              "displayName": "session",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1424,
        592
      ],
      "id": "0477ab49-8f1c-4474-a9bf-95d701714084",
      "name": "SEO"
    }
  ],
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Project manager",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Designer": {
      "ai_tool": [
        [
          {
            "node": "Project manager",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "PPC": {
      "ai_tool": [
        [
          {
            "node": "Project manager",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Copywriter": {
      "ai_tool": [
        [
          {
            "node": "Project manager",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Data analyst": {
      "ai_tool": [
        [
          {
            "node": "Project manager",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Project manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Project manager",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "SEO": {
      "ai_tool": [
        [
          {
            "node": "Project manager",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "84b73b68-003a-47c4-b5b8-e07ba21cb66b",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-08-28T14:27:57.168Z",
      "updatedAt": "2025-08-28T14:27:57.168Z",
      "role": "workflow:owner",
      "workflowId": "0zUzaGsU10GWUCFz",
      "projectId": "flRKzvtMN6hhu506"
    }
  ],
  "tags": []
}