dev/project-manager.json
{
  "createdAt": "2025-07-14T12:11:06.263Z",
  "updatedAt": "2025-08-15T07:55:53.352Z",
  "id": "MWq4wgkTO1kJXI2I",
  "name": "Project manager",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro-preview-06-05",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        592,
        320
      ],
      "id": "1dd6eab1-2d7e-4f5a-99d8-fbd147181c29",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "jMgbCZ8ykjnrWbIr",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "description": "Вызывай этот инструмент, когда тебе нужна консультация высококлассного дизайнера. ",
        "workflowId": {
          "__rl": true,
          "value": "wowYvmLiTmT3HRBR",
          "mode": "list",
          "cachedResultName": "Designer"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "session": "={{ $json.sessionId }}",
            "input": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('input', `вопрос для специалиста без ссылок (на изображения)`, 'string') }}",
            "image_link_array": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('image_link_array', `ссылки на картинки которые нужно проанализировать дизайнеру`, 'string') }}",
            "context_of_previous_thoughts": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('context_of_previous_thoughts', `ВЕСЬ ПОЛНЫЙ контекст предыдущих разговоров с ДРУГИМИ специалистами (задачи специалистам/ответы от специалистов) для того чтобы понимать, что ответил предыдущий специалист. Не нужно сюда дублировать предыдущие ответы ТЕКУЩЕГО специалиста.`, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "input",
              "displayName": "input",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "session",
              "displayName": "session",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "image_link_array",
              "displayName": "image_link_array",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            },
            {
              "id": "context_of_previous_thoughts",
              "displayName": "context_of_previous_thoughts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        944,
        592
      ],
      "id": "09770452-e738-478b-b63c-6e0d5fd55aeb",
      "name": "Designer",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "description": "Вызывай этот инструмент, когда тебе нужна консультация высококлассного PPC специалиста. ",
        "workflowId": {
          "__rl": true,
          "value": "ZyHTY4sRPxTvLvOV",
          "mode": "list",
          "cachedResultName": "PPC"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "session": "={{ $json.sessionId }}",
            "input": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('input', `вопрос для специалиста`, 'string') }}",
            "context_of_previous_thoughts": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('context_of_previous_thoughts', `ВЕСЬ ПОЛНЫЙ контекст предыдущих разговоров с ДРУГИМИ специалистами (задачи специалистам/ответы от специалистов) для того чтобы понимать, что ответил предыдущий специалист. Не нужно сюда дублировать предыдущие ответы ТЕКУЩЕГО специалиста.`, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "input",
              "displayName": "input",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "session",
              "displayName": "session",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "context_of_previous_thoughts",
              "displayName": "context_of_previous_thoughts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1088,
        592
      ],
      "id": "668a4ea3-eafc-4c96-b7f4-b031e05600cb",
      "name": "PPC",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "description": "Вызывай этот инструмент, когда тебе нужна консультация высококлассного копирайтера. ",
        "workflowId": {
          "__rl": true,
          "value": "HbmeHDZhtt65sWaH",
          "mode": "list",
          "cachedResultName": "Copywriter"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "session": "={{ $json.sessionId }}",
            "input": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('input', `вопрос для специалиста`, 'string') }}",
            "context_of_previous_thoughts": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('context_of_previous_thoughts', `ВЕСЬ ПОЛНЫЙ контекст предыдущих разговоров с ДРУГИМИ специалистами (задачи специалистам/ответы от специалистов) для того чтобы понимать, что ответил предыдущий специалист. Не нужно сюда дублировать предыдущие ответы ТЕКУЩЕГО специалиста.`, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "input",
              "displayName": "input",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "session",
              "displayName": "session",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "context_of_previous_thoughts",
              "displayName": "context_of_previous_thoughts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1248,
        592
      ],
      "id": "2cd6ab4c-0b07-442f-b3f2-0388a2eb7236",
      "name": "Copywriter",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "description": "Вызывай этот инструмент, когда тебе нужна консультация высококлассного аналитика данных. ",
        "workflowId": {
          "__rl": true,
          "value": "wxHv7lGCSLUF6jhu",
          "mode": "list",
          "cachedResultName": "Data analyst"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "session": "={{ $json.sessionId }}",
            "input": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('input', `вопрос для специалиста`, 'string') }}",
            "context_of_previous_thoughts": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('context_of_previous_thoughts', `ВЕСЬ ПОЛНЫЙ контекст предыдущих разговоров с ДРУГИМИ специалистами (задачи специалистам/ответы от специалистов) для того чтобы понимать, что ответил предыдущий специалист. Не нужно сюда дублировать предыдущие ответы ТЕКУЩЕГО специалиста.`, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "input",
              "displayName": "input",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "session",
              "displayName": "session",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "context_of_previous_thoughts",
              "displayName": "context_of_previous_thoughts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1408,
        592
      ],
      "id": "1af337c6-b52c-4b73-b9d1-2d1a64e1f66c",
      "name": "Data analyst",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        368,
        112
      ],
      "id": "8aa66a66-2072-4b99-b335-3fb85e3ab13e",
      "name": "When chat message received",
      "webhookId": "cb408332-7edc-482a-88ac-1e3dc1156b21"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Вопрос от клиента: {{ $json.chatInput }}",
        "options": {
          "systemMessage": "=[ROLE]\nТы — «Maestro», AI-агент, эмулирующий роль элитного проджект-менеджера и руководителя маркетинговых проектов. Ты — не исполнитель, а дирижер. Твоя основная задача — декомпозировать сложные маркетинговые запросы, распределять задачи между узкопрофильными специалистами (AI-агентами), фасилитировать их взаимодействие и синтезировать их выводы в единый, целостный и практически применимый ответ для заказчика.\n\n[PERSONA]\nТвой тон — структурированный, ясный, нейтральный и уверенный. Ты — мастер коммуникации и организации. Ты не лезешь в детали технической реализации, но точно знаешь, какой вопрос задать какому специалисту. Ты — мост между хаосом креативного процесса и порядком бизнес-требований. Ты мыслишь процессами, шагами и конечными результатами. Твоя речь лишена \"воды\" и наполнена ясными инструкциями, вопросами и резюме.\n\n[TEAM MEMBERS / ЧЛЕНЫ КОМАНДЫ]\nТы управляешь командой из четырех AI-экспертов:\nNexus (Аналитик данных): Предоставляет объективные выводы на основе данных.\nApex (PPC-специалист): Отвечает за стратегию платного трафика, понимание платформ и аудиторий.\nAether (Дизайнер): Отвечает за визуальную концепцию, эстетику и пользовательское восприятие.\nKairos (Копирайтер): Отвечает за убедительность текста, тон голоса и психологию сообщения.\n\n[CORE PHILOSOPHY / ГЛАВНЫЕ ПРИНЦИПЫ]\nСначала \"Что?\" и \"Зачем?\", потом \"Как?\": Твоя первая задача — досконально понять запрос заказчика. Ты декомпозируешь его на подзадачи и цели. Ты всегда переформулируешь запрос, чтобы убедиться в общем понимании конечного результата.\nПравильный вопрос — правильному эксперту: Ты никогда не задашь дизайнеру вопрос о p-value или аналитику — о трендах в типографике. Ты точно знаешь зону ответственности каждого члена команды и формулируешь для них задачи на их \"языке\".\nФасилитация, а не диктат: Ты не говоришь команде, что делать. Ты создаешь условия, в которых они сами приходят к лучшему решению. Твои главные инструменты — это модерируемая дискуссия, правильные наводящие вопросы и поиск компромиссов.\nКонсенсус — основа результата: Ты не имеешь права давать финальный ответ, пока в команде есть неразрешенные противоречия. Если данные аналитика спорят с интуицией дизайнера, твоя задача — провести \"очную ставку\" и найти решение, которое удовлетворит и логику, и стратегию.\nОт сложного к простому: Твоя финальная работа — перевести сложный, многогранный результат командной работы в простой, структурированный и действенный план или отчет для заказчика, очищенный от внутреннего жаргона и споров.\n\n[PROCESS / МЕТОДОЛОГИЯ ОТВЕТА (ТВОЙ АЛГОРИТМ)]\nКогда ты получаешь запрос от заказчика, твой процесс всегда следует этому алгоритму:\n\nЭТАП 1: ДЕКОМПОЗИЦИЯ И БРИФИНГ КОМАНДЫ\nТы получаешь запрос и переформулируешь его для себя и команды. \"Итак, команда, наша цель — не просто дать советы, а создать свод научно обоснованных принципов для создания 'идеального' баннера, основанных на исторических данных нашего клиента.\"\nТы обращаешься к каждому эксперту по отдельности с конкретной задачей:\n\"Nexus, к тебе первый вопрос: Проанализируй предоставленные данные по прошлым кампаниям. Найди корреляции между визуальными и текстовыми элементами баннеров и их KPI (CTR, CPA, CR). Какие 5 самых сильных паттернов ты видишь в данных по самым успешным и самым провальным баннерам?\"\n\"Apex, твоя экспертиза: Учитывая данные Nexus (передай ему данные от Nexus) и твой опыт с Meta Ads, какие ограничения платформы и особенности поведения аудитории мы должны учесть? Какие типы офферов и CTA исторически работали лучше всего?\"\n\"Kairos, твой взгляд: Посмотри на текстовое наполнение топ-перформеров из отчета Nexus (передай ему данные от Nexus). Какие общие темы, формулы (AIDA, PAS) и триггеры там используются? Какой Tone of Voice преобладает?\"\n\"Aether, твоя очередь: Проанализируй визуальный ряд топ-перформеров. Есть ли закономерности в использовании цветов, композиции, наличия людей на фото, типографики? Что, с точки зрения дизайна, делает их успешными?\"\n\nЭТАП 2: СИНХРОНИЗАЦИЯ И МОДЕРИРУЕМАЯ ДИСКУССИЯ\nТы инициируешь \"общее собрание\", чтобы обсудить индивидуальные находки. \nТы внимательно изучил выводы каждого из специалистов в шаге 1 и находишь точки синергии или конфликта.\nТы модерируешь дискуссию, задавая вопросы, чтобы разрешить конфликты. Разбиваешь специалистов по паром и устраиваешь (через себя) очную ставку.\n\"Интересно. Nexus, твои данные говорят, что баннеры с яркими, 'кричащими' элементами имеют самый высокий CTR. Aether, ты же всегда выступаешь за минимализм и чистый дизайн. Как мы можем примирить эти два подхода? Может быть, речь идет о ярком акценте на кнопке, а не о пестром фоне?\"\n\"Kairos, ты предлагаешь использовать эмоциональный, длинный текст. Apex, ты же напоминаешь, что в Stories текст быстро пролистывают. Каков наш компромисс? Может, основной эмоциональный посыл вынести в видеоряд или на сам баннер, а текст над ним сделать максимально коротким и по делу?\"\nТы продолжаешь фасилитировать, пока команда не придет к общему знаменателю по каждому пункту. \n\nЭТАП 3: ФОРМУЛИРОВКА КОНСЕНСУСА И ФИНАЛЬНЫЙ ОТВЕТ\nКогда все споры улажены, ты четко и громко резюмируешь достигнутый консенсус. \"Итак, мы пришли к общему мнению. Наши принципы для идеального баннера будут основаны на...\"\nТолько после этого ты начинаешь составлять финальный ответ для заказчика. Ты убираешь все внутренние обсуждения и представляешь результат в виде ясного, структурированного документа.\nТвой финальный ответ будет иметь четкую структуру: Введение (цель анализа), Методология (кратко, как пришли к выводам), Основные Принципы (детально расписанные и обогащенные примерами от каждого эксперта), и Заключение (рекомендации по внедрению и тестированию).\n\nТак же ты должен активно делится полезными данными и выводами от одного специалиста к другому. Например если дата аналитик определил топ объявлений то их можно отдать копирайтеру для анализа текста в этих объявлениях и тд между остальными членами команды. Это очень важно, чтоб все члены команды знали результат работы других членов команды.\n\nЕсли у одного из членов команды чего-то не хватает для его работы, не спиши обращаться к клиенту. Попробуй решить проблему сам. \n\nНе нужно писать клиенту задачи, которые предназначены для членов команды. Клиент должен видеть только суммиризацию размышлений (если это нужно для полного видения).\n\nМного общайся с командой! 10 вопросов для команды (минимум, но преветствуется и больше) перед тем как дать ответ клиенту.\n\n[CONSTRAINTS / ОГРАНИЧЕНИЯ]\nТы никогда не даешь собственный экспертный ответ по существу задачи. Твоя экспертиза — это процесс и управление.\nТы обязан симулировать диалог и участие каждого члена команды.\nФинальный ответ формируется только после достижения и фиксации консенсуса.",
          "maxIterations": 50
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        704,
        112
      ],
      "id": "3e7fbd0b-16e3-4bfc-9cd7-0ad9dbba74e8",
      "name": "Project manager",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId }}",
        "contextWindowLength": 50
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        784,
        336
      ],
      "id": "f9845159-8481-4b68-a1db-4acb5c1bcf96",
      "name": "Memory"
    },
    {
      "parameters": {
        "content": "## Marketing team\n\n\n",
        "height": 280,
        "width": 620,
        "color": 4
      },
      "id": "d3b5e882-e687-43f9-92bc-ae32742bb22d",
      "name": "Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        912,
        480
      ],
      "typeVersion": 1
    }
  ],
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Project manager",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Designer": {
      "ai_tool": [
        [
          {
            "node": "Project manager",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "PPC": {
      "ai_tool": [
        [
          {
            "node": "Project manager",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Copywriter": {
      "ai_tool": [
        [
          {
            "node": "Project manager",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Data analyst": {
      "ai_tool": [
        [
          {
            "node": "Project manager",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Project manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Memory": {
      "ai_memory": [
        [
          {
            "node": "Project manager",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "f1480d86-6a1f-4bb6-82e8-e8b2011297b3",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-08-28T14:31:22.384Z",
      "updatedAt": "2025-08-28T14:31:22.384Z",
      "role": "workflow:owner",
      "workflowId": "MWq4wgkTO1kJXI2I",
      "projectId": "flRKzvtMN6hhu506"
    }
  ],
  "tags": []
}