dev/publish.tool.json
{
  "createdAt": "2025-08-23T20:09:50.427Z",
  "updatedAt": "2025-08-25T10:31:09.174Z",
  "id": "Ch0dQgEDOEbuHu22",
  "name": "Publish.tool",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f4b8c16e-6788-4c17-b643-94a3f0620860",
              "name": "Workflow Link",
              "value": "=https://automation.dizzain.com/workflow/{{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1248,
        48
      ],
      "id": "2160ef8f-f47c-41fd-93f0-bf5b5c88ea5e",
      "name": "Workflow Link"
    },
    {
      "parameters": {
        "operation": "create",
        "workflowObject": "={{ JSON.stringify($json) }}",
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        976,
        48
      ],
      "id": "2aa77587-d025-4deb-85c7-435c1cf7bd08",
      "name": "Create a workflow",
      "credentials": {
        "n8nApi": {
          "id": "7ZJB9gIi1brEzbh1",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nreturn items.map(item => {\n  const str = item.json.workflowJson ?? item.json.query ?? item.json.output;\n\n  if (typeof str !== 'string' || !str.trim()) {\n    throw new Error('Не найдено текстовое поле с JSON (ожидались: workflowJson|query|output).');\n  }\n\n  let parsed;\n  try {\n    parsed = JSON.parse(str);\n  } catch (e) {\n    throw new Error(`Невалидный JSON от разработчика: ${e.message}`);\n  }\n\n  return { json: parsed };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        48
      ],
      "id": "f261004d-fedd-476b-9351-56f539afff26",
      "name": "Parse JSON"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        400,
        48
      ],
      "id": "d67d2dac-0998-42b2-85b1-227b716a7ecc",
      "name": "When Executed by Another Workflow"
    }
  ],
  "connections": {
    "Create a workflow": {
      "main": [
        [
          {
            "node": "Workflow Link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse JSON": {
      "main": [
        [
          {
            "node": "Create a workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Parse JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "f6e89316-5c0d-4418-a9db-2d5d4e2cf65e",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-08-28T14:29:49.193Z",
      "updatedAt": "2025-08-28T14:29:49.193Z",
      "role": "workflow:owner",
      "workflowId": "Ch0dQgEDOEbuHu22",
      "projectId": "flRKzvtMN6hhu506"
    }
  ],
  "tags": []
}