dev/setupsucceeded-hook.json
{
  "createdAt": "2025-07-09T07:34:53.571Z",
  "updatedAt": "2025-07-16T06:30:13.352Z",
  "id": "PHoOMvnZhsOmWZXL",
  "name": "SetupSucceeded Hook",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        300,
        -100
      ],
      "id": "3855f1b8-13b3-47ca-853d-2f7836b6e269",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "17c43f5a-b5e1-4365-830c-8d07853b91a0",
              "name": "customer_id",
              "value": "={{ $json.customer_id }}",
              "type": "string"
            },
            {
              "id": "dd18547a-8ae4-4cfb-87c8-a135828239b4",
              "name": "status",
              "value": "={{ $json.status === 'succeeded' ? 'Added' : $json.status === 'canceled' ? 'Non-added' : ''  }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        520,
        0
      ],
      "id": "97083efd-0415-415f-b566-43659e46fd81",
      "name": "Map fields"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "lIBo5maVVG6wjO0F",
          "mode": "list",
          "cachedResultName": "Get customer sheet data"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "customer_id": "={{ $json.customer_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "customer_id",
              "displayName": "customer_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "getAllCustomersData",
              "displayName": "getAllCustomersData",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean",
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        740,
        0
      ],
      "id": "e988cfc0-b3e1-4a61-8843-1c336dc310e5",
      "name": "Execute Workflow"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "eJ6iOKTSuaXPp2aM",
          "mode": "list",
          "cachedResultName": "Update customer sheet data"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $json.row_number }}",
            "Payment_Method": "={{ $('Map fields').item.json.status }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "Stripe_Customer_ID",
              "displayName": "Stripe_Customer_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "Stripe_Subscription_ID",
              "displayName": "Stripe_Subscription_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "Stripe_Sub_Item_ID",
              "displayName": "Stripe_Sub_Item_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "Payment_Method",
              "displayName": "Payment_Method",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "Stripe_Price_ID",
              "displayName": "Stripe_Price_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "Payment_Status",
              "displayName": "Payment_Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "Stripe_Fee_Actual",
              "displayName": "Stripe_Fee_Actual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": true
            },
            {
              "id": "Ads_Spend_MTD",
              "displayName": "Ads_Spend_MTD",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": true
            },
            {
              "id": "Ads_Spend_Actual",
              "displayName": "Ads_Spend_Actual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": true
            },
            {
              "id": "Adjustment",
              "displayName": "Adjustment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        960,
        0
      ],
      "id": "e9214bfb-ade1-47de-a658-433ab63a21c4",
      "name": "Execute Workflow1"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "customer_id"
            },
            {
              "name": "status"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        300,
        100
      ],
      "id": "b39c9f74-1c0e-4a3f-931d-2727452b2e2a",
      "name": "When Executed by Another Workflow"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Map fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map fields": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow": {
      "main": [
        [
          {
            "node": "Execute Workflow1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow1": {
      "main": [
        []
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Map fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "When clicking ‘Execute workflow’": [
      {
        "json": {
          "customer_id": "cus_SeBIgVzxylVHCJ",
          "status": "succeeded"
        }
      }
    ]
  },
  "versionId": "9112e281-223a-4118-86e7-871ffd1f957f",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-08-28T14:31:37.757Z",
      "updatedAt": "2025-08-28T14:31:37.757Z",
      "role": "workflow:owner",
      "workflowId": "PHoOMvnZhsOmWZXL",
      "projectId": "flRKzvtMN6hhu506"
    }
  ],
  "tags": []
}