dev/slack-ai-chatbot-for-wordpress-support.json
{
  "createdAt": "2025-08-16T22:20:27.067Z",
  "updatedAt": "2025-08-18T09:15:40.605Z",
  "id": "TxdAfgV1ovyMuXZk",
  "name": "Slack AI Chatbot for WordPress Support",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "id": "9d1f3f7e-f246-4fbc-87f2-3e9b93fb49f1",
      "name": "Slack Trigger",
      "type": "n8n-nodes-base.slackTrigger",
      "typeVersion": 1,
      "position": [
        -600,
        0
      ],
      "parameters": {
        "event": "message"
      },
      "credentials": {
        "slackApi": {
          "id": "1",
          "name": "My Slack API"
        }
      }
    },
    {
      "id": "5ebf19d1-6904-4b0e-8248-f665e6ce4eab",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -200,
        0
      ],
      "parameters": {
        "promptType": "define",
        "text": "You are a helpful AI chatbot that assists users with WordPress development questions. Provide step-by-step guidance, code snippets, and answers to FAQs.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an assistant that helps users with WordPress development, plugins, themes, and common troubleshooting."
        }
      }
    },
    {
      "id": "ca0fb6cb-9a2d-4e54-bd31-bcefb59cbb37",
      "name": "OpenRouter Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -400,
        200
      ],
      "parameters": {
        "model": "openai/gpt-3.5-turbo",
        "temperature": 0.2
      },
      "credentials": {
        "openRouterApi": {
          "id": "2",
          "name": "My OpenRouter API"
        }
      }
    },
    {
      "id": "8a0444d1-a1ca-4d9c-b68c-27d2d478d3cd",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -200,
        200
      ],
      "parameters": {}
    },
    {
      "id": "fbb48c1b-fe81-4971-b03a-73908dc70bda",
      "name": "Slack Reply",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        200,
        0
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "={{$json[\"channel\"]}}",
        "text": "={{$json[\"text\"]}}"
      },
      "credentials": {
        "slackApi": {
          "id": "1",
          "name": "My Slack API"
        }
      }
    },
    {
      "id": "c4615f86-5ff6-44f1-b137-3ffdefef7a1f",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        0,
        200
      ],
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"text\": {\n      \"type\": \"string\",\n      \"description\": \"The chatbot response text to send back to Slack\"\n    }\n  },\n  \"required\": [\"text\"]\n}"
      }
    },
    {
      "id": "8cd47856-5758-41d7-b5bf-6273f9f677f1",
      "name": "Sticky Note - Slack Setup",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -800,
        -200
      ],
      "parameters": {
        "content": "## Slack Setup\n1. Create a Slack App in https://api.slack.com/apps\n2. Enable Bot Token, OAuth, and Event Subscriptions.\n3. Subscribe to `message.channels` event.\n4. Add the app to your Slack workspace.\n5. Copy OAuth token to n8n Slack credentials."
      },
      "notesInFlow": true
    },
    {
      "id": "764c352b-d091-4827-af5e-0dddf7db78e5",
      "name": "Sticky Note - AI Model",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -400,
        400
      ],
      "parameters": {
        "content": "## AI Model Setup\n1. Create an OpenRouter account.\n2. Get an API Key.\n3. Configure OpenRouter credential in n8n.\n4. The AI Chatbot will use GPT to answer WordPress related questions."
      }
    },
    {
      "id": "cb1ddc29-8e05-4ff9-a6f4-7b1b4f8bf3f8",
      "name": "Sticky Note - Memory",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -100,
        400
      ],
      "parameters": {
        "content": "## Conversation Memory\nThis node helps the chatbot remember context from previous messages, so it can answer FAQs and provide threaded WordPress chatbot support."
      }
    }
  ],
  "connections": {
    "Slack Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ],
      "main": [
        [
          {
            "node": "Slack Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true,
    "saveDataErrorExecution": "all",
    "errorWorkflow": "",
    "timezone": "America/New_York"
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "b18b79bd-3209-4d44-aaaa-91bd7e48811a",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-08-28T14:32:12.252Z",
      "updatedAt": "2025-08-28T14:32:12.252Z",
      "role": "workflow:owner",
      "workflowId": "TxdAfgV1ovyMuXZk",
      "projectId": "flRKzvtMN6hhu506"
    }
  ],
  "tags": []
}