dev/sql-tool.json
{
  "createdAt": "2025-08-27T09:05:45.398Z",
  "updatedAt": "2025-09-02T11:18:59.929Z",
  "id": "EJi6NfIMNCP6oc8J",
  "name": "SQL tool",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.session }}",
        "contextWindowLength": 50
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        416,
        224
      ],
      "id": "2af9ad53-e979-4b62-aad7-4cfed3988720",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "chatgpt-4o-latest"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        64,
        208
      ],
      "id": "f6ba9b20-ceff-4e2d-a7b4-0d57a8144d52",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "dcmVPYyhdCrHZYTu",
          "name": "OpenAi account (paid)"
        }
      }
    },
    {
      "parameters": {
        "agent": "sqlAgent",
        "promptType": "define",
        "text": "={{ $json.query }}. \n\nExample of data in table:\n\n\n{\n\"dataset\": \n\"default\",\n\"source_file\": \n\"Flatworld Qs for EGR Infra - EGR Response.xlsx\",\n\"data\": \n{\n\"# Unique Users in total\": \"KOHLER - Dealers\",\n\"Bold Rewards\": 750,\n\"Preferred Partner\": 2,\n\"Rebate\": 972,\n\"LMS\": 750,\n\"CMS\": 0,\n\"Client Count\": \"Big clients like KOHLER\",\n\"Current Clients\": 1,\n\"Proj in next 2 Y\": 2\n}",
        "options": {}
      },
      "id": "9794e197-1244-42a8-a1fb-7b4e53d77af2",
      "name": "SQL tool",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        176,
        0
      ],
      "typeVersion": 1.7,
      "credentials": {
        "postgres": {
          "id": "wnxCU9Qwx7x8twst",
          "name": "egr-assistant"
        }
      }
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "session"
            },
            {
              "name": "query"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -144,
        0
      ],
      "id": "41e7acbd-5677-4e0d-990f-6fcd8e0391ff",
      "name": "When Executed by Another Workflow"
    }
  ],
  "connections": {
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "SQL tool",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "SQL tool",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "SQL tool",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "query": "какие колонки у файла 'Q3 2025 SKU List - OW - KO KA 6.24 (1).csv'?",
          "session": "1752657733.899859"
        }
      }
    ]
  },
  "versionId": "75b8865d-7e08-4f3b-b174-2f191b969e43",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-08-28T14:30:17.420Z",
      "updatedAt": "2025-08-28T14:30:17.420Z",
      "role": "workflow:owner",
      "workflowId": "EJi6NfIMNCP6oc8J",
      "projectId": "flRKzvtMN6hhu506"
    }
  ],
  "tags": []
}