dev/suggestion-from-keywordplanner-by-keywords.json
{
  "createdAt": "2025-06-20T09:40:56.174Z",
  "updatedAt": "2025-09-02T11:21:41.124Z",
  "id": "LcScVIAT4tLSXXmX",
  "name": "Suggestion from keywordPlanner by keywords",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "operation": "insert",
        "collection": "context",
        "fields": "=context",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.1,
      "position": [
        1840,
        -160
      ],
      "id": "fcf0181a-ebf1-4ed9-9578-18d1ceadc2ea",
      "name": "MongoDB",
      "credentials": {
        "mongoDb": {
          "id": "Izj04vyOAJ9tg38z",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nconst google_ads_keyword_by_keywords = $input.first().json.results;\n\nreturn [\n  {\n    context: {\n      session: $('When Executed by Another Workflow').first().json.session,\n      date: new Date(),\n      google_ads_keyword_by_keywords: google_ads_keyword_by_keywords\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1648,
        -160
      ],
      "id": "c3aadc09-561d-45c9-b543-52e323877005",
      "name": "Formating"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://googleads.googleapis.com/v19/customers/2400614295:generateKeywordIdeas",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleAdsOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "developer-token",
              "value": "vNsmUkml55K8cqbmUzxKiw"
            },
            {
              "name": "login-customer-id",
              "value": "6234909705"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"geoTargetConstants\": [\"geoTargetConstants/2840\"],\n  \"language\": \"languageConstants/1000\",\n  \"keywordSeed\": {\n    \"keywords\": [\"{{ $json.output.keywords }}\"]\n  },\n  \"keywordPlanNetwork\": \"GOOGLE_SEARCH\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1408,
        -176
      ],
      "id": "ca174085-7d30-4922-829c-c5b65a142571",
      "name": "Suggestion from keywordPlanner by keywords",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleAdsOAuth2Api": {
          "id": "DxObVy2L2DiRkJ3x",
          "name": "Google Ads account (amplect test account)"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Сгенерируй keywords",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Та агент который генерирует тэги на основе анализа semantic profile сайта. \nЧтобы получить semantic profile сайта используй инструмент \"Target site semantic profile data from MongoDB\".\nПроанализируй semantic profile и сгенерируй тэги (в твоём ответе должно быть 2-3 слова, не более. На английском.)\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        1008,
        -176
      ],
      "id": "e65ccdc4-be20-46cc-8d7e-5e1c928383f4",
      "name": "AI Agent",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-thinking-exp-01-21",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        880,
        80
      ],
      "id": "e8c2c11f-bb07-4bc9-8231-31c755e684e3",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "jMgbCZ8ykjnrWbIr",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ new Date().toISOString().replace(/[^\\w]/g, '') + '-' + Math.floor(Math.random() * 10000) }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1088,
        112
      ],
      "id": "a090cd02-fd27-492d-b982-81f549feb2f2",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Use this tool when you need target site semantic profile from MongoDB",
        "collection": "context",
        "options": {},
        "query": "={ \"context.session\": \"{{ $('When Executed by Another Workflow').item.json.session }}\", \"context.target_site_semantic_profile\": { \"$exists\": true } } "
      },
      "type": "n8n-nodes-base.mongoDbTool",
      "typeVersion": 1.1,
      "position": [
        1200,
        192
      ],
      "id": "80237641-8002-4fcf-87d7-92aa0e3f1ff4",
      "name": "Target site semantic profile data from MongoDB",
      "executeOnce": true,
      "alwaysOutputData": true,
      "credentials": {
        "mongoDb": {
          "id": "Izj04vyOAJ9tg38z",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\"keywords\":\"wordpress development\"}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1344,
        160
      ],
      "id": "f976f7ba-ee13-4b76-869f-7c487c19b6bb",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      message: \"Successfully completed\"\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2304,
        -160
      ],
      "id": "eabca4f9-d4f9-4c84-8893-53626a9236d9",
      "name": "Result message"
    },
    {
      "parameters": {
        "select": "user",
        "user": {
          "__rl": true,
          "value": "={{ $('When Executed by Another Workflow').first().json.user }}",
          "mode": "id"
        },
        "text": "= Suggestion from keywordPlanner by keywords is ready.",
        "otherOptions": {
          "includeLinkToWorkflow": false,
          "thread_ts": {
            "replyValues": {
              "thread_ts": "={{ $('When Executed by Another Workflow').first().json.timestamp }}"
            }
          }
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        2080,
        -160
      ],
      "id": "b850f852-1bb1-4ce6-bf37-67c50a431480",
      "name": "Send a message",
      "webhookId": "6998fbaa-ac4f-4239-af91-ad1e66610590",
      "credentials": {
        "slackApi": {
          "id": "0sQzgF3XJIVOKQoD",
          "name": "Keyword generation"
        }
      }
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "target_site"
            },
            {
              "name": "session"
            },
            {
              "name": "buissenes_goal"
            },
            {
              "name": "user"
            },
            {
              "name": "timestamp"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        704,
        -160
      ],
      "id": "69a83015-e24b-4058-a204-97fd3fb99dde",
      "name": "When Executed by Another Workflow"
    }
  ],
  "connections": {
    "MongoDB": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formating": {
      "main": [
        [
          {
            "node": "MongoDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Suggestion from keywordPlanner by keywords": {
      "main": [
        [
          {
            "node": "Formating",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Suggestion from keywordPlanner by keywords",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Target site semantic profile data from MongoDB": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Result message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "target_site": "https://www.dizzain.com",
          "session": "1752657733.899859",
          "buissenes_goal": "attract similar high-profile clients who are interested in our services",
          "user": "U01QLUNCNF4",
          "timestamp": "1752657736.104179"
        }
      }
    ]
  },
  "versionId": "22851c95-5cfe-4d65-8e26-7f0d1eb08e6e",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-08-28T14:31:11.120Z",
      "updatedAt": "2025-08-28T14:31:11.120Z",
      "role": "workflow:owner",
      "workflowId": "LcScVIAT4tLSXXmX",
      "projectId": "flRKzvtMN6hhu506"
    }
  ],
  "tags": []
}