dev/updatepricefornextmonth.json
{
  "createdAt": "2025-07-10T13:53:13.248Z",
  "updatedAt": "2025-07-16T06:29:44.591Z",
  "id": "GhcO2UJCZ23wTSJB",
  "name": "UpdatePriceForNextMonth",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        420,
        20
      ],
      "id": "28da5b52-de28-4a5c-9441-380a73392b5f",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "lIBo5maVVG6wjO0F",
          "mode": "list",
          "cachedResultName": "Get customer sheet data"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "getAllCustomersData": true
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "customer_id",
              "displayName": "customer_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "getAllCustomersData",
              "displayName": "getAllCustomersData",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        640,
        120
      ],
      "id": "b05d7c31-71ce-4557-be7f-a005c9b283d5",
      "name": "Customer data"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "months",
              "triggerAtDayOfMonth": 24,
              "triggerAtHour": 2
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        420,
        220
      ],
      "id": "1062446c-8169-4a25-bf91-9fb79703c32f",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        860,
        120
      ],
      "id": "44343f9b-d732-4601-947b-95df033517f9",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "fieldToSplitOut": "Periods",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1120,
        120
      ],
      "id": "5461b805-67d3-4cc0-a7a6-05bb3e0d1abe",
      "name": "Get periods"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b3486185-0839-4856-aedb-258b5a5d0abc",
              "leftValue": "={{ $json.Billing_Period }}",
              "rightValue": "={{ DateTime.now().plus({ months: 1 }).toFormat('MMMM yyyy') }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1340,
        120
      ],
      "id": "8abbe74f-155c-49b7-91cf-6651d79a92ec",
      "name": "Find next month",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "eJ6iOKTSuaXPp2aM",
          "mode": "list",
          "cachedResultName": "Update customer sheet data"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('If empty price id').item.json.row_number }}",
            "Stripe_Price_ID": "={{ $('Create price').item.json.id }}",
            "Payment_Status": "Pending"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "Stripe_Customer_ID",
              "displayName": "Stripe_Customer_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "Stripe_Subscription_ID",
              "displayName": "Stripe_Subscription_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "Payment_Method",
              "displayName": "Payment_Method",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "Stripe_Price_ID",
              "displayName": "Stripe_Price_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Payment_Status",
              "displayName": "Payment_Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Stripe_Fee_Actual",
              "displayName": "Stripe_Fee_Actual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": true
            },
            {
              "id": "Ads_Spend_MTD",
              "displayName": "Ads_Spend_MTD",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": true
            },
            {
              "id": "Ads_Spend_Actual",
              "displayName": "Ads_Spend_Actual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": true
            },
            {
              "id": "Adjustment",
              "displayName": "Adjustment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2660,
        140
      ],
      "id": "58eca7fa-7485-4d5c-a7d2-d955186f4f64",
      "name": "Update customer sheet data"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "G6NBgTgn6pzMNiMf",
          "mode": "list",
          "cachedResultName": "Create stripe price"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "unit_amount": "={{ $json.Planned_Budget * 100 }}",
            "interval": "month"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "unit_amount",
              "displayName": "unit_amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "interval",
              "displayName": "interval",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2220,
        140
      ],
      "id": "7342b3d4-8b35-48ea-b806-56eca6f2282f",
      "name": "Create price"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "2jd44bvePNKYoBn6",
          "mode": "list",
          "cachedResultName": "Update stripe subscription item"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "price": "={{ $json.id }}",
            "id": "={{ $('Loop Over Items').item.json.Stripe_Sub_Item_ID }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "price",
              "displayName": "price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2440,
        140
      ],
      "id": "f6e5c94b-0476-4535-95e9-acc58288f193",
      "name": "Update subscription item"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "871d51e8-3d68-4b68-a98f-c873f5184226",
              "leftValue": "={{ $json.Stripe_Price_ID }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "e1e9f14c-c1d9-4406-ab2e-949a6f002091",
              "leftValue": "={{ $('Loop Over Items').item.json.Stripe_Subscription_ID }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2000,
        120
      ],
      "id": "f6772a6a-57e7-4d3a-bb6a-d874bc8520a1",
      "name": "If empty price id"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "979d7fcd-728f-4f1a-902e-93e37a976eb3",
              "leftValue": "={{ $input.first().json.isEmpty() }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1560,
        120
      ],
      "id": "aac36268-9d44-46b0-a8f2-4a93212283b9",
      "name": "Has month"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1780,
        120
      ],
      "id": "1564fb17-f3f3-48a5-a608-ecd0ff6df8fb",
      "name": "Limit"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Customer data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Customer data": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Customer data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Get periods",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get periods": {
      "main": [
        [
          {
            "node": "Find next month",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find next month": {
      "main": [
        [
          {
            "node": "Has month",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create price": {
      "main": [
        [
          {
            "node": "Update subscription item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update subscription item": {
      "main": [
        [
          {
            "node": "Update customer sheet data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update customer sheet data": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If empty price id": {
      "main": [
        [
          {
            "node": "Create price",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has month": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "If empty price id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "pinData": {},
  "versionId": "58c19c10-89bb-4b91-87ce-1c4d551919f1",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2025-08-28T14:30:40.176Z",
      "updatedAt": "2025-08-28T14:30:40.176Z",
      "role": "workflow:owner",
      "workflowId": "GhcO2UJCZ23wTSJB",
      "projectId": "flRKzvtMN6hhu506"
    }
  ],
  "tags": []
}