dev/update-stripe-_customer_id.json
{
  "createdAt": "2025-07-09T09:27:35.120Z",
  "updatedAt": "2025-07-16T06:32:18.194Z",
  "id": "EieRdXWgKbnxMvCB",
  "name": "Update Stripe _Customer_ID",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "events": [
          "customer.created"
        ]
      },
      "type": "n8n-nodes-base.stripeTrigger",
      "typeVersion": 1,
      "position": [
        300,
        60
      ],
      "id": "c975f26b-46a6-4603-bf1d-270b30779a44",
      "name": "Stripe Trigger",
      "webhookId": "a83796df-820c-4e2d-a814-f6a774562be1",
      "credentials": {
        "stripeApi": {
          "id": "79r4zQhpshSQJToZ",
          "name": "dizzain Stripe account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        300,
        -100
      ],
      "id": "afc6a856-4a02-4362-99cd-ea3562be1cb3",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "12b53ee3-1eff-42d2-ba85-7741b8dbf473",
              "name": "email",
              "value": "={{ $json.email }}",
              "type": "string"
            },
            {
              "id": "12b19c67-eef6-47d3-b8ac-a2130ca43e7c",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        540,
        -20
      ],
      "id": "cb00f224-4545-46b7-b98a-66f5d9f48c80",
      "name": "Map customer data"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1KpGnCEdRucTexljZ-ZgyppzS65tQmZiSLsYY3-WETCg/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1KpGnCEdRucTexljZ-ZgyppzS65tQmZiSLsYY3-WETCg/edit?gid=0#gid=0",
          "mode": "url"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Stripe _Customer_ID": "={{ $json.id }}",
            "Email": "={{ $json.email }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Franchisee_ID",
              "displayName": "Franchisee_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Stripe _Customer_ID",
              "displayName": "Stripe _Customer_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Payment_Method",
              "displayName": "Payment_Method",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Billing_Period",
              "displayName": "Billing_Period",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Payment_Status",
              "displayName": "Payment_Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Planned_Budget",
              "displayName": "Planned_Budget",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Stripe_Fee_Est",
              "displayName": "Stripe_Fee_Est",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Stripe_Fee_Actual",
              "displayName": "Stripe_Fee_Actual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Our_Fee",
              "displayName": "Our_Fee",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Planned_Ad_Budget",
              "displayName": "Planned_Ad_Budget",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Ads_Spend_MTD",
              "displayName": "Ads_Spend_MTD",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Ads_Spend_Actual",
              "displayName": "Ads_Spend_Actual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Adjustment",
              "displayName": "Adjustment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1420,
        -220
      ],
      "id": "6ac3a022-5dfa-455d-8c30-eb7b4ba501d8",
      "name": "Set customer id",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7BLsk9UPythPPxam",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "Stripe Trigger": {
      "main": [
        [
          {
            "node": "Map customer data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Map customer data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map customer data": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "When clicking ‘Execute workflow’": [
      {
        "json": {
          "id": "cus_SeBIgVzxylVHCJ",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1680893993,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "email": "alexei.sonets@dizzain.com",
          "invoice_prefix": "0759376C",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": "Alexes Sonets",
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
      }
    ]
  },
  "versionId": "57c5de13-cbca-488e-89cc-8371082ec142",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-08-28T14:30:21.231Z",
      "updatedAt": "2025-08-28T14:30:21.231Z",
      "role": "workflow:owner",
      "workflowId": "EieRdXWgKbnxMvCB",
      "projectId": "flRKzvtMN6hhu506"
    }
  ],
  "tags": []
}