dev/update-knowledge-base.json
{
  "createdAt": "2025-08-22T08:08:13.457Z",
  "updatedAt": "2025-09-02T11:19:03.912Z",
  "id": "97XRNIGi3mzmN5j6",
  "name": "Update knowledge base",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "resource": "fileFolder",
        "limit": 1,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1w5gIl26IWa-nDGojgg-88PtTAvm4CmSt",
            "mode": "list",
            "cachedResultName": "EGR assistant",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1w5gIl26IWa-nDGojgg-88PtTAvm4CmSt"
          },
          "whatToSearch": "files"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "4fd35543-42c3-4350-82d7-c513a19831d7",
      "name": "Search files and folders",
      "executeOnce": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "eSNqSATRHln2HTCD",
          "name": "Google Dizzain account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        416,
        0
      ],
      "id": "2c1fadd7-bf1f-42e2-9ab4-2ddc8bf52110",
      "name": "Get content",
      "executeOnce": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "eSNqSATRHln2HTCD",
          "name": "Google Dizzain account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        624,
        0
      ],
      "id": "ce1366a0-faa6-4248-ad6e-5facbd78716b",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "egr-assistant",
          "mode": "list",
          "cachedResultName": "egr-assistant"
        },
        "embeddingBatchSize": 1,
        "options": {
          "pineconeNamespace": "context"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        1216,
        32
      ],
      "id": "61111be1-d7d2-40c8-8fc6-3d560153c65e",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "XB4nrCQoGoV5JI1T",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {
          "dimensions": 1024
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1072,
        320
      ],
      "id": "498c1bd8-6463-4c43-98f9-c9ac25842e1a",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "dcmVPYyhdCrHZYTu",
          "name": "OpenAi account (paid)"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file_name",
                "value": "={{ $json.name }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1408,
        320
      ],
      "id": "47cf7c9f-e98b-4314-b4e6-e2415c3c98a5",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1296,
        544
      ],
      "id": "a20aac15-7701-4083-8f80-36f5505ddaae",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1w5gIl26IWa-nDGojgg-88PtTAvm4CmSt",
          "mode": "list",
          "cachedResultName": "EGR assistant",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1w5gIl26IWa-nDGojgg-88PtTAvm4CmSt"
        },
        "event": "fileCreated",
        "options": {
          "fileType": "all"
        }
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -48,
        0
      ],
      "id": "c02409da-ff42-4708-b949-3f01ec9235f4",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "eSNqSATRHln2HTCD",
          "name": "Google Dizzain account"
        }
      }
    }
  ],
  "connections": {
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Get content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get content": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Google Drive Trigger": {
      "lastTimeChecked": "2025-08-26T08:29:39Z"
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "fca4f023-857e-4993-93bf-740f171ed804",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2025-08-28T14:29:22.636Z",
      "updatedAt": "2025-08-28T14:29:22.636Z",
      "role": "workflow:owner",
      "workflowId": "97XRNIGi3mzmN5j6",
      "projectId": "flRKzvtMN6hhu506"
    }
  ],
  "tags": []
}