dev/wfmanager.agent.index.json
{
  "createdAt": "2025-08-15T09:47:10.817Z",
  "updatedAt": "2025-08-25T11:06:29.225Z",
  "id": "nUCPXtmx4QjO6KBC",
  "name": "WFManager.agent.index",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        848,
        32
      ],
      "id": "1f1e0a96-c46e-4a69-8004-e80cb6114da2",
      "name": "When chat message received",
      "webhookId": "d832bc01-555e-4a24-a8cc-31db8fc1c816"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        448,
        368
      ],
      "id": "c101e278-cb78-4784-bb54-5ac607e7f216",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "dcmVPYyhdCrHZYTu",
          "name": "OpenAi account (paid)"
        }
      }
    },
    {
      "parameters": {
        "description": "Call this tool to perform quality assurance on the generated JSON which will decide whether to publish it or send it back for revisions.",
        "workflowId": {
          "__rl": true,
          "value": "uoghpVAO3aOoJnlm",
          "mode": "list",
          "cachedResultName": "MWF-Validator-QA"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "input": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('input', ``, 'string') }}",
            "sessionId": "{{ $json.sessionId }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "input",
              "displayName": "input",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "sessionId",
              "displayName": "sessionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1792,
        432
      ],
      "id": "9f460af2-ee44-4ad0-9101-83997c3544ba",
      "name": "Validator"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro-preview-06-05",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        736,
        384
      ],
      "id": "8aadd1d5-6eae-4385-8adc-6d3b58e79a85",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "jMgbCZ8ykjnrWbIr",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId }}",
        "collectionName": "n8n_agentBuilder_chat_histories",
        "databaseName": "agents_talks",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryMongoDbChat",
      "typeVersion": 1,
      "position": [
        928,
        384
      ],
      "id": "ad47a72c-eedb-4651-915c-3e6278a3780e",
      "name": "MongoDB Chat Memory",
      "credentials": {
        "mongoDb": {
          "id": "WJCKSHEZDZGur3kD",
          "name": "agenttobuildagent"
        }
      }
    },
    {
      "parameters": {
        "description": "Используй этот инструмент что бы создать готовый JSON Workflow.",
        "workflowId": {
          "__rl": true,
          "value": "rMgFI9bJHqHsnd9n",
          "mode": "list",
          "cachedResultName": "MWF-Developer.agent v.02"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "sessionId": "={{ $json.sessionId }}",
            "input": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('input', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "input",
              "displayName": "input",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "sessionId",
              "displayName": "sessionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1136,
        384
      ],
      "id": "d1749a3a-5b26-479b-9239-fd716965219c",
      "name": "WFDeveloper"
    },
    {
      "parameters": {
        "description": "Используй этот инструмент что бы опубликовать финальный Workflow",
        "workflowId": {
          "__rl": true,
          "value": "Ch0dQgEDOEbuHu22",
          "mode": "list",
          "cachedResultName": "Publish.tool"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1328,
        384
      ],
      "id": "62a28fc1-1de8-4720-b73c-24a8cbe249ba",
      "name": "WFPublisher"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=[ROLE]\nТы — WFManager, главный стратег и оркестратор в процессе создания n8n-воркфлоу. \nТы не лезешь в детали технической реализации, но точно знаешь, какую задачу составить для WFDeveloper. Ты — мост между хаосом креативного процесса и порядком бизнес-требований. Ты мыслишь процессами, шагами и конечными результатами. Твоя речь лишена \"воды\" и наполнена ясными инструкциями, вопросами и резюме.\n\nТвоя роль состоит из трех ключевых обязанностей:\n\nСтратег: Ты переводишь запрос пользователя в четкий, высокоуровневый стратегический план.\nОркестратор: Ты управляешь WFDeveloper, делегируя ему задачи на разработку.\nКонтролер Качества (QA): Ты получаешь результат от разработчика, проводишь его полную валидацию и принимаешь финальное решение: отправить на доработку или опубликовать.\n\n[PERSONA]\nТвой тон — экспертный, структурированный и авторитетный. Ты мыслишь конечными целями, управляешь процессом и несешь ответственность за финальное качество. Твои инструкции точны и недвусмысленны.\n\n[TEAM MEMBERS]\nТы управляешь одним AI-агентом:\nWFDeveloper: Талантливый разработчик, который реализует твой стратегический план.\n\n[TOOLS]\nУ тебя есть доступ к двум ключевым инструментам:\nWFDeveloper - талантливый n8n разработчик.\nWFPublisher - инструмент для публикации конечного валидированного workflow. Этот инструмент принимает финальный, проверенный JSON воркфлоу и публикует его.\n\n\n[АЛГОРИТМ РАБОТЫ (ТВОИ ДЕЙСТВИЯ)]\n\nТвоя работа разделена на этапы. Ты должен четко следовать этому алгоритму.\n\nЭТАП 1: АНАЛИЗ И СТРАТЕГИЧЕСКОЕ ПЛАНИРОВАНИЕ\n\nПолучив запрос от пользователя, проанализируй его.\nСоздай детальный стратегический структурированный план. Этот план должен описывать цель, логические этапы и инструкции для разработчика.\n\n\nЭТАП 2 (ОБЯЗАТЕЛЬНО): Выполни вызов инструмента с ИМЕНЕМ \"WFDeveloper\" ОДИН РАЗ.\nСразу после создания плана, твоя первая задача — делегировать его разработчику WFDeveloper.\nПередай аргумент plan (object) = твой стратегический план. \nНе выводи текст в чат и не подводи итог — только вызови инструмент.\n\nТвой единственный вывод на этом этапе должен быть промптом для WFDeveloper.\n\nТвой промпт для разработчика:\n\"To WFDeveloper: Вот стратегический план. Твоя задача — реализовать его в виде полнофункционального n8n-воркфлоу в формате JSON. Прояви креативность, но строго следуй всем этапам и инструкциям. Твой ответ должен содержать ТОЛЬКО JSON.\n[ЗДЕСЬ ТЫ ВСТАВЛЯЕШЬ JSON СВОЕГО СТРАТЕГИЧЕСКОГО ПЛАНА]\"\n\nЭТАП 3: ВАЛИДАЦИЯ И ПРИНЯТИЕ РЕШЕНИЯ\n\nТы получишь ответ от WFDeveloper (это будет JSON воркфлоу). Теперь твоя роль — Контролер Качества.\n\nИспользуя историю диалога, ты должен вспомнить свой оригинальный стратегический план, который ты создал на Этапе 1.\n\nПроведи валидацию полученного JSON по следующему чек-листу:\n\n[ ] Техническая исправность: JSON синтаксически корректен?\n[ ] Соответствие стратегии: Воркфлоу решает objective из твоего плана? Реализованы ли все stages?\n[ ] Выполнение инструкций: Разработчик заполнил параметры нод и использовал n8n-выражения для связи?\n[ ] Качество документации: Присутствуют ли осмысленные Sticky Notes?\n\nПрими решение:\n\nЕСЛИ ВАЛИДАЦИЯ ПРОШЛА УСПЕШНО: Твой финальный ответ — это вызов инструмента WFPublisher, этот инструмент вернет тебе готовую ссылку, которую нужно вернуть пользователю.\n\n\nЕСЛИ ВАЛИДАЦИЯ ПРОВАЛЕНА: Ты должен отправить воркфлоу на доработку. Твой вывод — это новый промпт для WFDeveloper.\n\nТвой промпт для разработчика на доработку:\n\"To AI Developer: Валидация провалена. Пожалуйста, исправь следующие ошибки и предоставь обновленный JSON.\nОшибки: [Здесь ты четко и по пунктам перечисляешь, что нужно исправить, например: \"1. Промпт в ноде OpenAI пустой. 2. Sticky Note для шага с Notion не содержит текста.\"].\nОригинальный план для справки: [ЗДЕСЬ ТЫ СНОВА ВСТАВЛЯЕШЬ СВОЙ ИЗНАЧАЛЬНЫЙ СТРАТЕГИЧЕСКИЙ ПЛАН]\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        1008,
        32
      ],
      "id": "5f552546-aa7b-41ff-b3f4-1514c50c8d69",
      "name": "WFManager"
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "WFManager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "Validator": {
      "ai_tool": [
        []
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "WFManager",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "WFManager",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "WFDeveloper": {
      "ai_tool": [
        [
          {
            "node": "WFManager",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "WFPublisher": {
      "ai_tool": [
        [
          {
            "node": "WFManager",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "WFManager": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "cd29712f-eec3-47a3-bac9-00cef7689f66",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-08-28T14:34:25.292Z",
      "updatedAt": "2025-08-28T14:34:25.292Z",
      "role": "workflow:owner",
      "workflowId": "nUCPXtmx4QjO6KBC",
      "projectId": "flRKzvtMN6hhu506"
    }
  ],
  "tags": []
}