dev/wordpress-development-ai-chatbot-for-slack.json
{
  "createdAt": "2025-08-18T13:11:38.694Z",
  "updatedAt": "2025-08-23T14:34:55.961Z",
  "id": "1X6MYep4HEJUmLLU",
  "name": "WordPress Development AI Chatbot for Slack",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "resource": "message",
        "event": "message",
        "options": {}
      },
      "type": "n8n-nodes-base.slackTrigger",
      "typeVersion": 1,
      "position": [
        460,
        280
      ],
      "id": "f4b8c16e-1234-4c68-89aa-500a547c3a98",
      "name": "Slack Message Trigger",
      "webhookId": "slack-wordpress-bot-webhook",
      "credentials": {
        "slackApi": {
          "id": "1",
          "name": "Slack Bot Credentials"
        }
      }
    },
    {
      "parameters": {
        "content": "## Slack Bot Setup Instructions\n\n1. **Create Slack App:**\n   - Go to api.slack.com/apps\n   - Click 'Create New App'\n   - Choose 'From scratch'\n   - Name it 'WordPress Dev Assistant'\n   - Select your workspace\n\n2. **Configure Bot Permissions:**\n   - Navigate to OAuth & Permissions\n   - Add these Bot Token Scopes:\n     • app_mentions:read\n     • chat:write\n     • channels:history\n     • groups:history\n     • im:history\n     • mpim:history\n\n3. **Enable Event Subscriptions:**\n   - Go to Event Subscriptions\n   - Toggle ON\n   - Add webhook URL from n8n\n   - Subscribe to bot events:\n     • message.channels\n     • message.groups\n     • message.im\n     • app_mention\n\n4. **Install App to Workspace:**\n   - Go to Install App\n   - Click 'Install to Workspace'\n   - Copy Bot User OAuth Token\n   - Add to n8n credentials",
        "height": 520,
        "width": 380,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        60,
        140
      ],
      "id": "sticky-setup-1",
      "name": "Slack Setup Guide"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.text }}",
              "operation": "contains",
              "value2": "wordpress"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        640,
        280
      ],
      "id": "condition-wordpress-check",
      "name": "Check if WordPress Related"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are an expert WordPress development assistant integrated into Slack. Your role is to help developers with WordPress-related questions, troubleshooting, and best practices.\n\n## Your Expertise Includes:\n- WordPress Core Development\n- Plugin Development\n- Theme Development\n- WordPress REST API\n- WooCommerce Development\n- WordPress Security Best Practices\n- Performance Optimization\n- Database Structure and Queries\n- WordPress Hooks (Actions and Filters)\n- Gutenberg Block Development\n- WordPress Multisite\n- PHP Development for WordPress\n- JavaScript/React for WordPress\n\n## Response Guidelines:\n1. Provide clear, concise, and accurate answers\n2. Include code examples when relevant\n3. Reference official WordPress documentation when applicable\n4. Suggest best practices and common pitfalls to avoid\n5. If the question is unclear, ask for clarification\n6. Format responses for Slack (use markdown where appropriate)\n\n## Response Format:\n- Use backticks for inline code\n- Use triple backticks for code blocks\n- Use bold for important points\n- Keep responses under 2000 characters when possible\n- Break long responses into logical sections\n\nAlways be helpful, professional, and encourage good WordPress development practices."
        },
        "promptType": "define",
        "text": "={{ $('Slack Message Trigger').item.json.text }}"
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        1040,
        180
      ],
      "id": "wordpress-ai-agent",
      "name": "WordPress AI Assistant"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4-turbo-preview",
          "mode": "list",
          "cachedResultName": "GPT-4 Turbo"
        },
        "options": {
          "temperature": 0.7,
          "maxTokens": 2000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1040,
        380
      ],
      "id": "openai-model",
      "name": "OpenAI GPT-4",
      "credentials": {
        "openAiApi": {
          "id": "2",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "contextWindowSize": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1240,
        380
      ],
      "id": "conversation-memory",
      "name": "Conversation Memory"
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "={{ $('Slack Message Trigger').item.json.channel }}",
        "text": "={{ $json.output }}",
        "options": {
          "thread_ts": "={{ $('Slack Message Trigger').item.json.ts }}"
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        1440,
        180
      ],
      "id": "slack-response",
      "name": "Send Slack Response",
      "credentials": {
        "slackApi": {
          "id": "1",
          "name": "Slack Bot Credentials"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "={{ $('Slack Message Trigger').item.json.channel }}",
        "text": "I'm specialized in WordPress development questions. Please ask me something related to WordPress, such as:\n• Plugin development\n• Theme customization\n• Performance optimization\n• Security best practices\n• Database queries\n• Hooks and filters\n• And much more!",
        "options": {
          "thread_ts": "={{ $('Slack Message Trigger').item.json.ts }}"
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        840,
        380
      ],
      "id": "non-wordpress-response",
      "name": "Non-WordPress Response",
      "credentials": {
        "slackApi": {
          "id": "1",
          "name": "Slack Bot Credentials"
        }
      }
    },
    {
      "parameters": {
        "content": "## WordPress Knowledge Base\n\nThis section handles knowledge base updates.\nYou can trigger updates via:\n- Manual execution\n- Scheduled updates\n- Webhook from documentation site\n- Google Sheets with FAQs\n\nThe knowledge base feeds into the AI agent's context.",
        "height": 280,
        "width": 340,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        460,
        580
      ],
      "id": "sticky-kb-1",
      "name": "Knowledge Base Info"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "daysInterval": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        460,
        780
      ],
      "id": "schedule-kb-update",
      "name": "Daily Knowledge Update"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "GOOGLE_SHEET_ID",
          "mode": "list",
          "cachedResultName": "WordPress Knowledge Base"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/csv"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        660,
        780
      ],
      "id": "fetch-knowledge-base",
      "name": "Fetch Knowledge Base",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "3",
          "name": "Google Drive"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        860,
        780
      ],
      "id": "extract-kb-content",
      "name": "Extract KB Content"
    },
    {
      "parameters": {
        "operation": "embedDocuments",
        "model": "text-embedding-ada-002",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [
        1060,
        780
      ],
      "id": "embed-knowledge",
      "name": "Create Embeddings",
      "credentials": {
        "openAiApi": {
          "id": "2",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "pineconeIndex": "wordpress-knowledge",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        1260,
        780
      ],
      "id": "store-vectors",
      "name": "Store in Vector DB",
      "credentials": {
        "pineconeApi": {
          "id": "4",
          "name": "Pinecone API"
        }
      }
    },
    {
      "parameters": {
        "content": "## Bot Response Flow\n\n1. **Message Received**: Bot receives Slack message\n2. **Filter Check**: Verifies if WordPress-related\n3. **AI Processing**: GPT-4 processes the query\n4. **Context Memory**: Maintains conversation history\n5. **Response**: Sends formatted answer to Slack thread\n\nThe bot maintains context within conversations and can handle follow-up questions.",
        "height": 240,
        "width": 420,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1040,
        -60
      ],
      "id": "sticky-flow-1",
      "name": "Response Flow"
    },
    {
      "parameters": {
        "content": "## Required Credentials\n\n✅ **Slack Bot Token**\n   - Create in Slack App settings\n   - OAuth & Permissions page\n\n✅ **OpenAI API Key**\n   - Get from platform.openai.com\n   - Requires paid account for GPT-4\n\n✅ **Google Drive** (Optional)\n   - For knowledge base updates\n   - Create service account or OAuth\n\n✅ **Pinecone** (Optional)\n   - For vector storage\n   - Free tier available",
        "height": 340,
        "width": 320,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1480,
        -60
      ],
      "id": "sticky-creds-1",
      "name": "Required Credentials"
    },
    {
      "parameters": {
        "content": "## Testing Your Bot\n\n1. **Invite Bot to Channel:**\n   `/invite @WordPressDev`\n\n2. **Test Commands:**\n   - \"How do I create a custom post type?\"\n   - \"Best practices for WordPress security\"\n   - \"Optimize WordPress database\"\n\n3. **Monitor Logs:**\n   - Check n8n execution logs\n   - Review Slack Event Subscriptions",
        "height": 280,
        "width": 340,
        "color": 1
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1480,
        440
      ],
      "id": "sticky-test-1",
      "name": "Testing Guide"
    },
    {
      "parameters": {
        "topK": 5
      },
      "type": "@n8n/n8n-nodes-langchain.retrieverVectorStore",
      "typeVersion": 1,
      "position": [
        1240,
        480
      ],
      "id": "knowledge-retriever",
      "name": "Knowledge Retriever"
    }
  ],
  "connections": {
    "Slack Message Trigger": {
      "main": [
        [
          {
            "node": "Check if WordPress Related",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if WordPress Related": {
      "main": [
        [
          {
            "node": "WordPress AI Assistant",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Non-WordPress Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WordPress AI Assistant": {
      "main": [
        [
          {
            "node": "Send Slack Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI GPT-4": {
      "ai_languageModel": [
        [
          {
            "node": "WordPress AI Assistant",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Conversation Memory": {
      "ai_memory": [
        [
          {
            "node": "WordPress AI Assistant",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Daily Knowledge Update": {
      "main": [
        [
          {
            "node": "Fetch Knowledge Base",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Knowledge Base": {
      "main": [
        [
          {
            "node": "Extract KB Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract KB Content": {
      "main": [
        [
          {
            "node": "Create Embeddings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Embeddings": {
      "ai_embedding": [
        [
          {
            "node": "Store in Vector DB",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Store in Vector DB": {
      "ai_vectorStore": [
        [
          {
            "node": "Knowledge Retriever",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Knowledge Retriever": {
      "ai_retriever": [
        [
          {
            "node": "WordPress AI Assistant",
            "type": "ai_retriever",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true,
    "saveDataErrorExecution": "all",
    "errorWorkflow": "",
    "timezone": "America/New_York"
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "77d09293-3869-462f-a6b2-b8aa00abcbcb",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-08-28T14:28:13.598Z",
      "updatedAt": "2025-08-28T14:28:13.598Z",
      "role": "workflow:owner",
      "workflowId": "1X6MYep4HEJUmLLU",
      "projectId": "flRKzvtMN6hhu506"
    }
  ],
  "tags": []
}